<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta http-equiv="Cache-control" content="public">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-encoding" content="gzip" />
<meta name="description" content="Maaliz.com - Best place to rent a house, sell a car, or find a job in UAE">
<meta name="author" content="maaliz.com">
<meta name="keywords" content="Jobs in UAE, UAE Jobs, Somali properties for rent, UAE properties for sale, UAE houses for rent, UAE houses for sale">

<link rel="shortcut icon" href="favicon.png">

<base href="/">
<title>Maaliz.com - UAE No.1 Classified</title>
 
<style type="text/css">
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
</style>


<!-- Bootstrap core CS -->
<link id="switch_style" href="css/bootstrap.css" rel="stylesheet">
<link href="css/group-one.css" rel="stylesheet">

</head>



<body data-ng-app="hashiApp" ng-cloak data-class="ng-cloak">
	<div class="header-list" >
		<div class="container" ng-controller="LanguageController" >
			<div class="row">
				<div class="col-xs-12">
					<ul class="list-inline flip pull-right">
						<li><a  ui-sref="/">{{'HOME' | translate }}</a></li>
						<li><a href=""  ng-click="switchLanguage(getCurrentLanguage() == 'en_US'  ? 'so_SO' : 'en_US')" translate>LANG_LABEL</a></li>

					</ul>
					
				</div>
			</div>
		</div>
	</div>



	<nav class="navbar navbar-default yamm" role="navigation" ng-controller="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"  data-target=".navbar-collapse">
							<span class="icon-bar"></span> 
							<span class="icon-bar"></span> 
							<span class="icon-bar"></span>
						</button>
						<a ui-sref="/" class="navbar-brand "> 
							<img src="css/images/logo.png" />
						</a>

					</div>



					<div class="collapse navbar-collapse">
					   <ul class="nav navbar-nav  visible-xs" ng-show="authenticated()">
                                <li><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="/">{{'HOME' | translate}}</a></li>
                                <li><a href=""> Welcome {{authenticatedFirstanme()}} </a></li>
                                <li><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="post_ad">{{'POST_AD' | translate}} </a>
                                <li><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="account_ads"> My ads</a></li>
								<li><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="account_settings">Account settings</a></li>
								<li><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="account_profile" >Account profile </a></li>
								<li><a data-toggle="collapse" data-target=".navbar-collapse" href="" ng-click="logout()">logout</a></li>
                        </ul>
					    <ul class="nav navbar-nav  visible-xs" ng-show="!authenticated()">
                                <li><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="/">{{'HOME' | translate}}</a></li>
                                <li><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="login">{{'LOGIN' | translate}}</a></li>
                                <li><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="register">{{'REGISTER' | translate}}</a></li>
                                <li>
                                    <a  data-toggle="collapse" data-target=".navbar-collapse" 
                                             ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 			 advFinalSelectedCategoryId:  4,
								 		 	 advSelectedCategoryIdLevelOne: 4,
										 	 advSelectedCategoryIdLevelTwo: 554})">
											{{'ITEM_FOR_SALE' | translate}}
									</a>
                                </li>
                                <li>
                                
                                	 <a  data-toggle="collapse" data-target=".navbar-collapse" 
                                	        ui-sref="listing ({searchType:'AdvanceSearchRentRes' , advSelectedCityId :0, 
								  			advFinalSelectedCategoryId:  6, 
								  			advSelectedCategoryIdLevelOne:  6,
								  			advSelectedCategoryIdLevelTwo: 333})">
									      {{'PROPERTY_FOR_RENT' | translate}}
									      
									 </a>
                                </li>
                                <li>
                                     <a  data-toggle="collapse" data-target=".navbar-collapse" 
                                         ui-sref="listing ({searchType:'AdvanceSearchSaleRes' , advSelectedCityId :0,  
										  advFinalSelectedCategoryId:  5, 
								  		  advSelectedCategoryIdLevelOne:  5,
								  		  advSelectedCategoryIdLevelTwo: 320})">
								          {{'PROPERTY_FOR_SALE' | translate }}
									 </a>
                                </li>
                                <li>
                                
                                       <a  data-toggle="collapse" data-target=".navbar-collapse" 
                                       		ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								            advFinalSelectedCategoryId:  7, 
								            advSelectedCategoryIdLevelOne:  7})" 
								            data-toggle="collapse" 
										    data-target=".navbar-collapse">
								  			{{'JOB_VACANCIES' | translate}}
							      		</a>
                                
                                </li>
                                <li>
                                       <a  data-toggle="collapse" data-target=".navbar-collapse" 
                                       	 	 ui-sref="listing ({searchType:'AdvanceSearchCommunity' , advSelectedCityId :0, 
								 			 advFinalSelectedCategoryId: 8,
								 		 	 advSelectedCategoryIdLevelOne: 8,
										 	 advSelectedCategoryIdLevelTwo: 1589})"
										 	 data-toggle="collapse" 
										     data-target=".navbar-collapse">
											{{'COMMUNITY' | translate}}
									    </a>
                                    
                                </li>
                        </ul> 
						<ul class="nav navbar-nav main-nav hidden-xs" >
							<li class="dropdown yamm-fw">
						       <a   href=""  data-toggle="dropdown" class="dropdown-toggle">{{'MOTORS' | translate}} 
								  <b class="caret"></b>
							   </a>
								<ul  class="dropdown-menu">
									<li>
										<div class="yamm-content">
											<div class="row" >
												<ul class="col-sm-3 list-unstyled">
													<li>
													   <a   ui-sref="listing ({searchType:'AdvanceSearchCar' , advSelectedCityId :0, 
								 						 advFinalSelectedCategoryId:  21, 
								  						 advSelectedCategoryIdLevelOne:  3,
								  						 advSelectedCategoryIdLevelTwo:  21,
								  					     advSelectedCategoryIdLevelThree:  30})" >
								   						  {{'CARS_FOR_SALE' | translate}} <b> {{countCars}} </b>
													   </a>
													 
													 </li>
													 <li>
													   <a  ui-sref="listing ({searchType:'AdvanceSearchCarParts' , advSelectedCityId :0, 
								  						   advFinalSelectedCategoryId:  22, 
								  						   advSelectedCategoryIdLevelOne:  3,
								  						   advSelectedCategoryIdLevelTwo: 22,
								  						   advSelectedCategoryIdLevelThree: 150})" >
									 						{{'SPARE_PARTS_ACCESSORIES' | translate}}  <b> {{countCarParts}}</b>
						    							</a>
													 </li>
													 <li>
													   <a  ui-sref="listing ({searchType:'AdvanceSearchBoats' , advSelectedCityId :0, 
								  						   advFinalSelectedCategoryId:  23, 
								  						   advSelectedCategoryIdLevelOne:  3,
								  						   advSelectedCategoryIdLevelTwo:  23})" >
								  
								    					    {{'BOATS' | translate}} <b> {{countBoats}} </b>
						   								</a> 
													
													</li>
													<li>
														<a  ui-sref="listing ({searchType:'AdvanceSearchHeavyVehicle' , advSelectedCityId :0, 
								 							advFinalSelectedCategoryId:  24, 
								  							advSelectedCategoryIdLevelOne:  3,
								  							advSelectedCategoryIdLevelTwo:  24,
								 							advSelectedCategoryIdLevelThree:  300})" >
															{{'HEAVY_VEHICLES' | translate}}   <b> {{countHeavyVehicles}} </b>
								 						</a>
	
													</li>
													<li>
													   <a  ui-sref="listing ({searchType:'AdvanceSearchMotorcycle' , advSelectedCityId :0, 
								 	 						advFinalSelectedCategoryId:  25, 
								 	 						advSelectedCategoryIdLevelOne:  3,
									  						advSelectedCategoryIdLevelTwo:  25,
								 	 						advSelectedCategoryIdLevelThree:  310})" >
								  
								 	 						{{'MOTORCYCLES' | translate}}  <b> {{countMotorcycles}} </b>
								  
								  						</a> 
													
													</li>
												</ul>
											</div>
										</div>
									</li>
								</ul>
							</li>

							<li class="dropdown yamm-fw">
						       <a href="" data-toggle="dropdown" class="dropdown-toggle">
						       		{{'ITEM_FOR_SALE' | translate}} 
						       		<b class="caret"></b>
						       </a>
								<ul class="dropdown-menu">
									<li>
										<div class="yamm-content">
											<div class="row">
												<ul class="col-sm-3 list-unstyled">
													<li>
													  <a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 			 			 advFinalSelectedCategoryId:  555,
								 		 				 advSelectedCategoryIdLevelOne: 4,
										 	             advSelectedCategoryIdLevelTwo: 555,
										 	  			 advSelectedCategoryIdLevelThree:  556})">
								 		      				{{'BABY_ITEMS' | translate}} <b> {{countClassifiedBabyItems}} </b> 
								  						</a>
													</li>
													<li>
													   <a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 					     advFinalSelectedCategoryId:  609,
								 		 	 		     advSelectedCategoryIdLevelOne: 4,
										 	 		     advSelectedCategoryIdLevelTwo: 609,
										 	  		     advSelectedCategoryIdLevelThree:  610})">
								 		      		     {{'BOOKS_ITMES' | translate}} <b> {{countClassifiedBooks}} </b> 
								  				       </a>
													</li>
													<li>
													   <a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 			 			 advFinalSelectedCategoryId:  667,
								 		 	 		     advSelectedCategoryIdLevelOne: 4,
										 			     advSelectedCategoryIdLevelTwo: 667,
										 	 		     advSelectedCategoryIdLevelThree:  668})">
								 		                 {{'BUSINESS_INDUSTRIAL' | translate}} <b> {{countClassifiedBusinessIndustrial}} </b> 
								  					   </a>
												   </li>
												  <li>
													 <a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 					    advFinalSelectedCategoryId:  765,
								 		 	 		    advSelectedCategoryIdLevelOne: 4,
										 	            advSelectedCategoryIdLevelTwo: 765,
										 	            advSelectedCategoryIdLevelThree: 766})">
								 		    	        {{'CAMERAS_IMAGING' | translate}} <b> {{countClassifiedCamera}} </b> 
								  					  </a> 
								  				   </li>
												   <li>
												      <a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 						advFinalSelectedCategoryId:  838,
								 		 	 			advSelectedCategoryIdLevelOne: 4,
										 			    advSelectedCategoryIdLevelTwo: 838,
										 	            advSelectedCategoryIdLevelThree: 839})">
								 		     		  {{'CLOTHING_ACCESSORIES' | translate}} <b> {{countClassifiedClothing}} </b> 
								  					</a>  
												  </li>
													<li>
													
													   <a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 					     advFinalSelectedCategoryId:  920,
								 		 	 			 advSelectedCategoryIdLevelOne: 4,
										 				 advSelectedCategoryIdLevelTwo: 920,
										 				 advSelectedCategoryIdLevelThree: 921})">
								 		     		  	 {{'COLLECTIBLES' | translate}}  <b> {{countClassifiedCollectibles}} </b> 
								  						</a> 
													</li>
													<li>
													
													   <a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 						 advFinalSelectedCategoryId:  968,
								 		 			     advSelectedCategoryIdLevelOne: 4,
										 	 			 advSelectedCategoryIdLevelTwo: 968,
										 	  			 advSelectedCategoryIdLevelThree: 969})">
								 		      			 {{'COMPUTERS_NETWORK' | translate}}  <b> {{countClassifiedComputerNetwork}} </b> 
								  					    </a> 
													
													</li>
													
													
												</ul>
												<ul class="col-sm-3 list-unstyled">
													<li>
													
													 	<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 						  advFinalSelectedCategoryId:  1096,
								 		 				  advSelectedCategoryIdLevelOne: 4,
										 				  advSelectedCategoryIdLevelTwo: 1086,
										 				   advSelectedCategoryIdLevelThree: 1096})">
								 		     		       {{'TELEVISION' | translate}}   <b> {{countClassifiedTV}} </b> 
								  						</a>
													</li>
													
													<li>
													    <a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 			 		      advFinalSelectedCategoryId:  1086,
								 		 	 		      advSelectedCategoryIdLevelOne: 4,
										 	 		      advSelectedCategoryIdLevelTwo: 1086,
										 	  		      advSelectedCategoryIdLevelThree: 1087})">
								 		      			{{'ELECTRONICS' | translate}}  <b> {{countClassifiedElectronics}} </b> 
								  						</a> 
													</li>
												    <li>
													   <a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 						  advFinalSelectedCategoryId:  1570,
								 		 	 			  advSelectedCategoryIdLevelOne: 4,
										 	 			  advSelectedCategoryIdLevelTwo: 1570,
										 	  			  advSelectedCategoryIdLevelThree: 1571})">
								 		      			  {{'TICKETS_VOUCHERS' | translate}} <b> {{countClassifiedTicketsVouchers}} </b> 
								  						</a>
								  		  			</li>
								  		  			<li>
								  		  				<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 						  advFinalSelectedCategoryId:  1196,
								 		 				  advSelectedCategoryIdLevelOne: 4,
										 	 			  advSelectedCategoryIdLevelTwo: 1196,
										 	 			  advSelectedCategoryIdLevelThree: 1197})">
								 		       			 {{'FURNITURE' | translate}}    <b> {{countClassifiedFurniture}} </b> 
								  						</a> 								  		  			
								  		  			</li>
								  		  			<li>
								  		  				<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 						   advFinalSelectedCategoryId:  1265,
								 		 				   advSelectedCategoryIdLevelOne: 4,
										 	 			   advSelectedCategoryIdLevelTwo: 1265,
										 	  			   advSelectedCategoryIdLevelThree: 1266})">
								 		       			{{'GAMING' | translate}}  <b> {{countClassifiedGaming}} </b> 
								  						</a>
								  		  			</li>
								  		  			<li>
								  		  			   <a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 						   advFinalSelectedCategoryId: 1323,
								 		 	 			   advSelectedCategoryIdLevelOne: 4,
										 	 			   advSelectedCategoryIdLevelTwo: 1323,
										 	  			   advSelectedCategoryIdLevelThree: 1324})">
								 		       			  {{'HOME_APPLIANCES' | translate}} <b>{{countClassifiedHomeAppliances}} </b> 
								  				        </a> 
								  		  			</li>
								  		  			<li>
								  		  			   <a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 			 		     advFinalSelectedCategoryId:  1371,
								 		 			     advSelectedCategoryIdLevelOne: 4,
										 	 			 advSelectedCategoryIdLevelTwo: 1367,
										 	  		     advSelectedCategoryIdLevelThree: 1371})">
								 		     			 {{'WATCHES' | translate}} <b> {{countClassifiedWatches}} </b> 
								  		  			   </a> 
								  		  	       </li>
								  		  	       
								  		  		</ul>
								  		  		<ul class="col-sm-3 list-unstyled"> 
								  		  			<li>
								  		  				<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 						   advFinalSelectedCategoryId:  1425,
								 		 				   advSelectedCategoryIdLevelOne: 4,
										 				   advSelectedCategoryIdLevelTwo: 1425})">
								 		     			   {{'MISCELLANEOUS' | translate}}  <b> {{countClassifiedMisc}} </b> 
								  						</a>
								  		  			</li> 
								  		  			<li>
								  		  			
								  						<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 			 			  advFinalSelectedCategoryId:  1426,
								 		 	 			  advSelectedCategoryIdLevelOne: 4,
										 	 			  advSelectedCategoryIdLevelTwo: 1426,
										 	 			  advSelectedCategoryIdLevelThree: 1427})">
								 		      			 {{'MOBILES_PDA' | translate}} <b> {{countClassifiedMobile}} </b> 
								  					   </a>
								  		  			</li>
								  		  			<li>
								  		  			    <a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 			 			  advFinalSelectedCategoryId:  1470,
								 		 	 			  advSelectedCategoryIdLevelOne: 4,
										 	 			  advSelectedCategoryIdLevelTwo: 1470,
										 	 			  advSelectedCategoryIdLevelThree: 1471})">
								 		      			   {{'PETS' | translate}} <b> {{countClassifiedPets}} </b> 
								  						</a>
								  		  			</li> 
								  		  			<li>
								  		  			     <a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 							 advFinalSelectedCategoryId:  1488,
								 		 					 advSelectedCategoryIdLevelOne: 4,
										 					 advSelectedCategoryIdLevelTwo: 1488,
										 	 				 advSelectedCategoryIdLevelThree: 1489})">
								 		      			    {{'SPORTS_EQUIPMENT' | translate}} <b> {{countClassifiedSportsEquipment}} </b> 
								  						 </a>
								  		  			</li>
								  		  			
								  		  			<li>
								  		  			
								  		  			   <a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 			 				advFinalSelectedCategoryId:  1577,
								 		 	 				advSelectedCategoryIdLevelOne: 4,
										 					advSelectedCategoryIdLevelTwo: 1577})">
								 		      				{{'TOYS' | translate}} <b> {{countClassifiedToys}} </b> 
								  						</a>
								  		  			</li>
								  		  			
								  		  			<li>
								  					  <a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , advSelectedCityId :0, 
								 			 			advFinalSelectedCategoryId:  1372,
								 		 	 		    advSelectedCategoryIdLevelOne: 4,
										 	 		    advSelectedCategoryIdLevelTwo: 1367,
										 	  			advSelectedCategoryIdLevelThree: 1372})">
								 		     		   {{'WOMEN_JEWELRY' | translate}} <b> {{countClassifiedWomenJewelry}} </b> 
								  					</a> 
								  		  		   <li> 
												</ul>
											</div>
										</div>
									</li>
								</ul>
							</li>

							<li class="dropdown yamm-fw">
							  <a href="" data-toggle="dropdown" class="dropdown-toggle">{{'PROPERTIES' | translate}}<b
									class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<div class="yamm-content">
											<div class="row">
												<ul class="col-sm-3 list-unstyled">
													<li>	
														 <a  ui-sref="listing ({searchType:'AdvanceSearchRentRes' , advSelectedCityId :0, 
								 						   advFinalSelectedCategoryId:  343, 
								 						   advSelectedCategoryIdLevelOne:  6,
														   advSelectedCategoryIdLevelTwo:  334,
								 	 					   advSelectedCategoryIdLevelThree:  343})" >
								 					   		 {{'APARTMENT_FOR_RENT' | translate}} <b> {{countRentResApartment}} </b>
								  						</a>
								  					</li>
													
													
												
													<li>
													 <a  ui-sref="listing ({searchType:'AdvanceSearchRentRes' , advSelectedCityId :0, 
								 					   advFinalSelectedCategoryId:  342, 
								 					   advSelectedCategoryIdLevelOne:  6,
										 			   advSelectedCategoryIdLevelTwo:  334,
								 	 				   advSelectedCategoryIdLevelThree:  342})">
								 		  				 {{'VILLA_FOR_RENT' | translate}} <b> {{countRentResVilla}} </b>
								  					</a> 
													
													</li>
													<li>
													
													  
								  						 <a  ui-sref="listing ({searchType:'AdvanceSearchRentComm' , advSelectedCityId :0, 
								 							 advFinalSelectedCategoryId:  335 ,
								 		 					 advSelectedCategoryIdLevelOne: 6,
										 	 			 	advSelectedCategoryIdLevelTwo: 335,
										 			     	advSelectedCategoryIdLevelThree:  345})">
								 		  			  		 {{'COMMERCIAL_FOR_RENT' | translate}} <b> {{countRentComm}} </b>
								  						</a>													
													</li>
													<li>
													   <a  ui-sref="listing ({searchType:'AdvanceSearchRentRoom' , advSelectedCityId :0, 
								 						 advFinalSelectedCategoryId:  336 ,
								 		 				 advSelectedCategoryIdLevelOne: 6,
										 				 advSelectedCategoryIdLevelTwo: 336,
										 	 			 advSelectedCategoryIdLevelThree:  350})">
								 		   					{{'ROOM_FOR_RENT' | translate}} <b> {{countRentRoom}} </b>
								  						</a>
													</li>
													<li>
													
													   <a  ui-sref="listing ({searchType:'AdvanceSearchRentShortMonthly' , advSelectedCityId :0, 
								 			 			advFinalSelectedCategoryId:  338 ,
								 		 				 advSelectedCategoryIdLevelOne: 6,
										 				 advSelectedCategoryIdLevelTwo: 338,
										 				  advSelectedCategoryIdLevelThree:  353})">
								 		     				 {{'SHORT_TERM_MONTHLY_RENT'  | translate}} <b> {{countRentShortMonthly}} </b>
								  						</a>
													
													</li>
													<li>
													   <a  ui-sref="listing ({searchType:'AdvanceSearchRentShortDaily' , advSelectedCityId :0, 
								 						advFinalSelectedCategoryId:  339 ,
								 		 				 advSelectedCategoryIdLevelOne: 6,
										 				 advSelectedCategoryIdLevelTwo: 339,
										 				  advSelectedCategoryIdLevelThree:  356})">
								 		      			   {{'SHORT_TERM_DAILY_RENT' | translate}} <b> {{countRentShortDaily}} </b> 
								  						</a> 
													</li>
													
												</ul>
												<ul class="col-sm-3 list-unstyled">
													<li>
														<a  ui-sref="listing ({searchType:'AdvanceSearchSaleRes' , advSelectedCityId :0, 
								 	 						advFinalSelectedCategoryId:  327, 
								 							advSelectedCategoryIdLevelOne:  5,
														    advSelectedCategoryIdLevelTwo:  321,
								 						    advSelectedCategoryIdLevelThree:  327})" >
								 	 						{{'APARTMENT_FOR_SALE' | translate}} <b> {{countSaleResApartment}} </b>
								 						 </a> 
													</li>
													<li>
													    <a  ui-sref="listing ({searchType:'AdvanceSearchSaleRes' , advSelectedCityId :0, 
								 						   advFinalSelectedCategoryId:  326, 
								 						   advSelectedCategoryIdLevelOne:  5,
														   advSelectedCategoryIdLevelTwo:  321,
								 	 					   advSelectedCategoryIdLevelThree:  326})" >
								 						  {{'VILLA_FOR_SALE' | translate}}  <b> {{countSaleResVilla}} </b>
								  						</a> 
													
													</li>
													<li>
													 	<a  ui-sref="listing ({searchType:'AdvanceSearchSaleComm' , advSelectedCityId :0, 
								 						  advFinalSelectedCategoryId:  322, 
								 						  advSelectedCategoryIdLevelOne:  5,
														  advSelectedCategoryIdLevelTwo:  322,
								 						  advSelectedCategoryIdLevelThree:  328})" >
															{{'COMMERCIAL_FOR_SALE ' | translate}} <b> {{countSaleComm}} </b>
														</a>
													</li>
													
													<li>
													
													   <a  ui-sref="listing ({searchType:'AdvanceSearchSaleUnits' , advSelectedCityId :0, 
								 						 advFinalSelectedCategoryId:  323, 
								 						 advSelectedCategoryIdLevelOne:  5,
														 advSelectedCategoryIdLevelTwo:  323})" >
														 {{'UNITS_FOR_SALE' | translate }} <b> {{countSaleUnits}} </b>
													   </a> 
													</li>
													<li>
													   <a  ui-sref="listing ({searchType:'AdvanceSearchSaleLand' , advSelectedCityId :0, 
								 	 					 advFinalSelectedCategoryId:  324, 
								 	 					 advSelectedCategoryIdLevelOne:  5,
														 advSelectedCategoryIdLevelTwo:  324})" >
														 {{'LAND_FOR_SALE' | translate}} <b> {{countSaleLand}} </b>
							   						    </a>
													</li>
													
												</ul>
											</div>
										</div>
									</li>
								</ul></li>

							<li class="dropdown yamm-fw"><a href=""
								data-toggle="dropdown" class="dropdown-toggle">{{'JOBS' | translate}} 
								<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<div class="yamm-content">
											<div class="row">
												<ul class="col-sm-3 list-unstyled">
													 <li>
												    	 <a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								 							 advFinalSelectedCategoryId:  385, 
															 advSelectedCategoryIdLevelOne:  7,
								  							 advSelectedCategoryIdLevelTwo:  385})" >
															 {{'JOB_CONSULTING' | translate}} <b> {{countJobConsulting}}  </b>
														</a> 
												  	 </li>
												 	 <li>
												  		<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								 							 advFinalSelectedCategoryId:  384, 
								  							advSelectedCategoryIdLevelOne:  7,
															  advSelectedCategoryIdLevelTwo:  384})" >
															{{'JOB_CONSTRUCTION'  | translate}} <b> {{countJobConstruction}} </b>
														</a> 
												   </li>
												   <li>
												  		<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  							advFinalSelectedCategoryId:  376, 
								  							advSelectedCategoryIdLevelOne:  7,
								 							advSelectedCategoryIdLevelTwo:  376})" >
															{{'JOB_AIRLINES_AVIATION' | translate}} <b> {{countJobAirlinesAviation}} </b>
														</a>
												   </li>
												   <li>
													   <a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  							advFinalSelectedCategoryId:  408, 
								  							advSelectedCategoryIdLevelOne:  7,
								  							advSelectedCategoryIdLevelTwo:  408})" >
															{{'JOB_MEDIA' | translate}}<b> {{countJobMedia}} </b>
														</a>
													</li>
													<li>
														<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								 							 advFinalSelectedCategoryId:  375, 
								 							 advSelectedCategoryIdLevelOne:  7,
								 							 advSelectedCategoryIdLevelTwo:  375})" >
															{{'JOB_ACCOUNTING' | translate}} <b> {{countJobAccounting}} </b>
														</a> 
													</li>
						
												   	 <li>
														<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  							advFinalSelectedCategoryId: 380, 
															advSelectedCategoryIdLevelOne:  7,
								 							advSelectedCategoryIdLevelTwo:  380})" >
															{{'JOB_BANKING' | translate}}<b> {{countJobBankingFinance}} </b>
														</a>
												  	</li>
												  	<li>
												  		<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								    						 advFinalSelectedCategoryId:  395, 
								    						 advSelectedCategoryIdLevelOne:  7,
								     						advSelectedCategoryIdLevelTwo:  395})">
															{{'JOB_GOVERNMENT_ADMIN' | translate}} <b> {{countJobGovAdmin}} </b>
														</a> 
												  	</li>
												  	
												   </ul>
												   <ul class="col-sm-3 list-unstyled">
												     <li>
													   <a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  					   		advFinalSelectedCategoryId:  422,
								  							advSelectedCategoryIdLevelOne:  7,
								  							advSelectedCategoryIdLevelTwo:  422})" >
															{{'JOB_SALES' | translate}} <b> {{countJobSales}} </b>
														</a>
													 </li>
												  	  <li>
												  		 <a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  							advFinalSelectedCategoryId:  387, 
															advSelectedCategoryIdLevelOne:  7,
								 							advSelectedCategoryIdLevelTwo:  387})" >
															{{'JOB_EDUCATION' | translate}} <b> {{countJobEducation}} </b>
														</a>
												  	</li>
												  	
												  	<li>
												  			<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								 								 advFinalSelectedCategoryId:  389, 
								  								 advSelectedCategoryIdLevelOne:  7,
								 								 advSelectedCategoryIdLevelTwo:  389})" >
														  	 	{{'JOB_ENGINEERING' | translate}} <b> {{countJobEngineering}} </b>
															</a> 
												  	</li>
												  	<li>
													    	<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  								advFinalSelectedCategoryId:  398, 
								  								advSelectedCategoryIdLevelOne:  7,
																advSelectedCategoryIdLevelTwo:  398})" >
																{{'JOB_HR_RECRUITMENT' | translate}}<b> {{countJobHRRecruitment}} </b>
															</a> 
													</li>
													
													<li>
													   		<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  								advFinalSelectedCategoryId: 413, 
								 								advSelectedCategoryIdLevelOne:  7,
								 								advSelectedCategoryIdLevelTwo:  413})" >
																{{'JOB_PUBLIC_RELATIONS' | translate}} <b> {{countJobPublicRelations}} </b>
															</a>
													</li>
													<li>
														 <a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								   						    advFinalSelectedCategoryId:  392, 
								    				        advSelectedCategoryIdLevelOne:  7,
								    					    advSelectedCategoryIdLevelTwo:  392})" >
														   {{'JOB_EXECUTIVE' | translate}} <b> {{countJobExecutive}} </b>
														 </a>
													</li>
													<li>
														<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								 							advFinalSelectedCategoryId:  381, 
								  							advSelectedCategoryIdLevelOne:  7,
															advSelectedCategoryIdLevelTwo:  381})" >
															{{'JOB_BEAUTY' | translate}} <b> {{countJobBeauty}} </b>
														</a> 
													</li>
													
												</ul>
												<ul class="col-sm-3 list-unstyled">
													<li>
														<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  							advFinalSelectedCategoryId:  410, 
								  							advSelectedCategoryIdLevelOne:  7,
								  							advSelectedCategoryIdLevelTwo:  410})" >
															{{'JOB_OIL_GAS' | translate}} <b> {{countJobOilGas}} </b>
														</a> 
													
													</li>
													<li>
												  		<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								 							 advFinalSelectedCategoryId: 407, 
								  							 advSelectedCategoryIdLevelOne:  7,
								 							 advSelectedCategoryIdLevelTwo:  407})" >
															{{'JOB_MARKETTING_ADVERTISEMENT' | translate}} <b> {{countJobMarkettingAdvertising}} </b>
														</a>
												  	</li>
													
													<li>
														<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  							advFinalSelectedCategoryId:  423, 
															advSelectedCategoryIdLevelOne:  7,
								  							advSelectedCategoryIdLevelTwo:  423})" >
															{{'JOB_SECRETARIAL' | translate}} <b> {{countJobSecretarial}} </b>
														</a>
												    </li>
												    <li>
														<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  							advFinalSelectedCategoryId:  386, 
								 							advSelectedCategoryIdLevelOne:  7,
								 							advSelectedCategoryIdLevelTwo:  386})" >
															{{'JOB_CUSTOMER_SERVICE' | translate }} <b> {{countJobCustomerService}} </b>
														</a>
												   </li>
												   <li>
													  <a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  						   advFinalSelectedCategoryId:  378, 
														   advSelectedCategoryIdLevelOne:  7,
								 						   advSelectedCategoryIdLevelTwo:  378})" >
														   {{'JOB_ART' | translate}} <b> {{countJobArtEntertainment}} </b>
													  </a>
													</li> 
													
													<li>
														<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								     						advFinalSelectedCategoryId:  396, 
								     						advSelectedCategoryIdLevelOne:  7,
								     						advSelectedCategoryIdLevelTwo:  396})" >
															{{'JOB_GRAPHIC_DESIGN' | translate}}  <b> {{countJobGraphicDesign}} </b>
													 	</a>
													</li>
												</ul>
												<ul class="col-sm-3 list-unstyled">
												 
												 
											 	</ul>
											</div>
										</div>
									</li>
								</ul></li>

							<li class="dropdown yamm-fw"><a href=""
								data-toggle="dropdown" class="dropdown-toggle">{{'COMMUNITY' | translate}}
								<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<div class="yamm-content">
											<div class="row">
												<ul class="col-sm-3 list-unstyled">
												  <li>
													     <a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , advSelectedCityId :0, 
								 							 advFinalSelectedCategoryId: 1590,
								 		 	 				 advSelectedCategoryIdLevelOne: 8,
								 		 					 advSelectedCategoryIdLevelTwo: 1590})">
								 		     				{{'COMMUNITY_ACTIVITIES'  | translate}} <b> {{countCommunityActivities}} </b> 
								  						</a>
													</li>
													<li>
													    <a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , advSelectedCityId :0, 
								 							advFinalSelectedCategoryId: 1591 ,
								 		 					advSelectedCategoryIdLevelOne: 8,
										 	 				advSelectedCategoryIdLevelTwo: 1591})">
								 		     				{{'COMMUNITY_ARTISTS' | translate}} <b> {{countCommunityArtist}} </b> 
								  						</a>
													</li>
													<li>
														 <a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , advSelectedCityId :0, 
								 						   advFinalSelectedCategoryId: 1592 ,
								 		 	 			   advSelectedCategoryIdLevelOne: 8,
										 	 			   advSelectedCategoryIdLevelTwo: 1592})">
								 		      			   {{'COMMUNITY_CAR_LIFT' | translate}}<b> {{countCommunityCarLift}} </b> 
								  						</a>
													</li>
													<li>
													     <a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , advSelectedCityId :0, 
								 							 advFinalSelectedCategoryId: 1593 ,
								 		 					 advSelectedCategoryIdLevelOne: 8,
										 					 advSelectedCategoryIdLevelTwo: 1593})">
								 		      				{{'COMMUNITY_CHARITIES' | translate}} <b> {{countCommunityCharities}} </b> 
								  						</a> 
													</li>
													<li>
													   <a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , advSelectedCityId :0, 
								 			 				advFinalSelectedCategoryId: 1594 ,
								 		 				    advSelectedCategoryIdLevelOne: 8,
										 	 				advSelectedCategoryIdLevelTwo: 1594})">
								 		     				{{'COMMUNITY_CHILDCARE' | translate}}  <b> {{countCommunityChildCare}} </b> 
								  						</a>
													</li>
													<li>
														<a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , advSelectedCityId :0, 
								 						    advFinalSelectedCategoryId: 1595 ,
								 		 	 				advSelectedCategoryIdLevelOne: 8,
										 				    advSelectedCategoryIdLevelTwo: 1595})">
								 		     				{{'COMMUNITY_CLASSES' | translate}}  <b> {{countCommunityClasses}} </b> 
								  						</a> 													
													</li>
								
												</ul>
												<ul class="col-sm-3 list-unstyled">
												    <li>
												   	    <a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , advSelectedCityId :0, 
								 			 				advFinalSelectedCategoryId: 1597 ,
								 		 	 				advSelectedCategoryIdLevelOne: 8,
										 					advSelectedCategoryIdLevelTwo: 1597})">
								 		      				{{'COMMUNITY_DOMESTIC' | translate}}  <b> {{countCommunityDomestic}} </b> 
								  						</a>
												   </li>
												   <li>
												   		<a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , advSelectedCityId :0, 
								 							advFinalSelectedCategoryId: 1604,
								 		 	 				advSelectedCategoryIdLevelOne: 8,
										 	 				advSelectedCategoryIdLevelTwo: 1604,
										 	 				advSelectedCategoryIdLevelThree:  1607})">
								 		      				{{'COMMUNITY_SERVICES' | translate}}  <b> {{countCommunityServices}} </b> 
								  						</a>  
												   </li>
												   <li>
								  		  			   <a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , advSelectedCityId :0, 
								 			 				advFinalSelectedCategoryId: 1599,
								 		 	 				advSelectedCategoryIdLevelOne: 8,
										 	 				advSelectedCategoryIdLevelTwo: 1599})">
								 		      				{{'COMMUNITY_FREELANCERS' | translate}}  <b> {{countCommunityFreelancers}} </b> 
								  						</a>
								  		  			</li>
												   <li>
												      <a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , advSelectedCityId :0, 
								 			 			  advFinalSelectedCategoryId:  1600,
								 		 	 			  advSelectedCategoryIdLevelOne: 8,
										 	 			  advSelectedCategoryIdLevelTwo: 1600})">
								 		     			  {{'COMMUNITY_LOST_FOUND' | translate}} <b> {{countCommunityLostFound}} </b> 
								  					  </a> 
												  </li>
												  <li>
												     <a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , advSelectedCityId :0, 
								 						 advFinalSelectedCategoryId: 1605,
								 		 				 advSelectedCategoryIdLevelOne: 8,
								 		 	 			 advSelectedCategoryIdLevelTwo: 1605})">
								 		     			{{'COMMUNITY_SPORTS'  | translate}} <b> {{countCommunitySports}} </b> 
								  					  </a> 
												  </li>
												  <li>
												     <a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , advSelectedCityId :0, 
								 						 advFinalSelectedCategoryId: 1606,
								 		 	 			advSelectedCategoryIdLevelOne: 8,
								 		 	 			advSelectedCategoryIdLevelTwo: 1606})">
								 		     			{{'COMMUNITY_FREE_STUFF'  | translate}} <b> {{countCommunityFreeStuff}} </b> 
								  					 </a>
												   
												  </li>
												</ul>
											</div>
										</div>
									</li>
								</ul>
							</li>
						</ul>

						

						<ul class="nav navbar-nav main-nav navbar-right hidden-xs flip pull-right">								
      					    <li class="dropdown" ng-show="authenticated()">
							    <a class="dropdown-toggle login-link" data-toggle="dropdown" href="">
								  Welcome {{authenticatedFirstanme()}}
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" style="right: auto;">
									<li>
										<a ui-sref="account_ads">
											My ads
										</a>
									</li>
									<li>
									   <a ui-sref="account_settings">Account settings </a>
									</li>
									
									<li>
									   <a ui-sref="account_profile" >Account profile </a>
									</li>
									
									<li>
									   <a ui-sref="applicants" >Job board </a>
									</li>
									<li>
										<a href="" ng-click="logout()">logout</a>
									</li>
								</ul>
							</li>
						    
						    
							<li  ng-show="!authenticated()">
							   <a ui-sref="login" class="login-link">{{'LOGIN' | translate }}</a>
							</li>
							<li  ng-show="!authenticated()"><a
								ui-sref="register" class="registration-link">{{'REGISTER' | translate}}</a>
							</li>
							
							<li>
							    <a ui-sref="post_ad" class="btn btn-primary btn-lg btn-post">{{'POST_AN_AD' |
									translate}}
								</a>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	
	
    
	<!-- body of the views -->
	<div ui-view></div>
	
	

	<footer>


		<div class="footer-main">
			<div class="container">
				<div class="row">

					<div class="col-md-3 hidden-xs hidden-sm" ng-show="!authenticated()">
						<div class="footer-well-wrapper">
							<div class="footer-well">
								<p class="h4 text-primary">{{ 'GET_REGISTERED'  | translate}}</p>
								<p>
									<strong>{{ 'DO_YOU_HAVE_SOMETHING_SELL' | translate}}</strong>
								</p>
								<p>
									{{'PLACE_YOUR_AD' | translate}}.<br>{{'QUICK_EASY_FREE' | translate}}
								</p>
								<br /> <br /> <a ui-sref="register" 
									class="btn btn-default btn-block">{{'GET_STARTED' | translate}}</a> <br /> <br />
								<p>
									{{'ALREADY_A_MEMBER' | translate}} <a ui-sref="login" class="text-info">{{'SIGN_IN' | translate}}</a>
									<strong>{{'VIEW_EDIT_AD' | translate}}</strong>
								</p>
							</div>
						</div>
					</div>

					<div class="col-sm-12 col-md-9 col-xs-12 text-center">

						<p class="h1">{{'DO_YOU_HAVE_SOMETHING_SELL' | translate}}</p>
						<p class="h2">{{'POST_YOUR_AD_FREE_ON_XAASHI.COM' | translate}}</p>
						<a ui-sref="post_ad" class="btn btn-primary btn-lg btn-post" >{{'POST_YOUR_FREE_AD' | translate}}</a>

					</div>

				</div>
			</div>
		</div>

		<div class="footer-links">
			<div class="container">
				<div class="row">

					<div
						class="col-md-4 col-lg-3 col-xs-8 col-xs-offset-2 col-sm-offset-0 hidden-sm hidden-xs">
						<div class="row">
							<div class="col-md-12">
								<p class="h1">{{'WEBSITE_TITLE' | translate}}</p>
								<p class="h4 text-left">{{'HOME_CENTER_TITLE1' | translate}}</p>
							</div>
						</div>
					</div>


					<div
						class="col-xs-12 col-md-8 col-xs-offset-0  col-md-offset-0 footer-link-menu">

						<div class="row">
							<div class="col-xs-12 col-xs-offset-0">
								<div class="row">
								
								
									<div class="col-md-3 hidden-xs col-sm-3">
										<div class="row">
											<div class="col-xs-11">
												<p class="h3">{{'SUPPORT' | translate}}</p>
												<ul class="list-unstyled">
													<li><a ui-sref="delivery">{{'DELIVERY' | translate}}</a></li>
													<li><a href="mailto:admin@maaliz.com" class="ng-binding">{{'EMAIL_US' | translate}}</a></li>
													<li><a ui-sref="contact_us">{{'CONTACT_US' | translate}}</a></li>
												</ul> 
											</div>
										</div>
									</div>

									<div class="col-md-3 hidden-xs col-sm-3">
										<div class="row">
											<div class="col-xs-12">
											   <p class="h3">Social</p>
											   <ul class="list-unstyled">
												<li>
													<a href="https://www.facebook.com/Xaashicom-507707419398162/">
													      Facebook
													</a> 
												</li>
												<li>
													<a href="https://www.youtube.com/c/xaashidotcom">
														YouTube
													</a>
												</li>
												<li> 
													<a href="https://plus.google.com/+XaashiDotCom">
														Google+
													</a>
												</li>
											   </ul>
											</div>
										</div>
									</div>
									
									
									<div class="col-md-3 hidden-xs col-sm-3">
										<div class="row">
											<div class="col-sm-8">
												<p class="h3">{{'COMPANY' | translate}}</p>
												<ul class="list-unstyled">
													<li><a ui-sref="about_us">{{'ABOUT_US' | translate}}</a></li>
													<li><a ui-sref="career">{{'CAREERS' | translate}}</a></li>
													<li><a ui-sref="contact_us">{{'CONTACT_US' | translate}}</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<br />
				<div class="row">

					<div class="col-sm-12 text-center">
						<br />
						<p class="share-icons visible-xs visible-sm">
							<a href="https://www.facebook.com/Xaashicom-507707419398162/"><i class="fa fa-facebook"></i></a> 
							<a href="https://twitter.com/xaashiweb"><i class="fa fa-twitter"></i></a> 
							<a href="https://plus.google.com/+XaashiDotCom"><i class="fa fa-google-plus"></i></a> 
							<a href="https://www.youtube.com/c/xaashidotcom"><i class="fa fa-youtube-play"></i></a>
						</p>
						<br class="hidden-sm" />
						<ul class="list-inline visible-xs">
							<li><a ui-sref="about_us" class="text-muted">{{'ABOUT_US' | translate}}</a></li>
							<li><a ui-sref="career" class="text-muted">{{'CAREERS' | translate}}</a></li>
							<li><a ui-sref="contact_us" class="text-muted">{{'CONTACT_US' | translate}}</a></li>
							<li><a ui-sref="help" class="text-muted">Help</a></li>
						</ul>
						<span class="copy">Copyright &copy; 2015 Maaliz.com</span>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	
	<!-- JavaScript==Load first the core===which is group one================ -->
	
	
	
	<!-- JavaScript==Load first the core===which is group one================ -->

	
	<!-- JavaScript==Load first the core===which is group one================ -->

	<script src="js/group-one.js" type="text/javascript"></script>
	<script src="js/group-two.js" type="text/javascript"></script>
	<script src="js/group-three.js" type="text/javascript"></script>
	<script src="js/group-four.js" type="text/javascript"></script>  	
       
 	
	<!-- Placed at the end of the document so the pages load faster -->
    <script async  src="http://maps.google.com/maps/api/js"></script> 	 
    <script type="text/javascript">
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', 'UA-71087645-1', 'auto');
       ga('send', 'pageview');

    </script>
    
  </body>  
</html>