<div class="container">
	<div class="row">


		<div class="col-md-12">
			<br />
			<ol class="breadcrumb">
				<li><a ui-sref="/">Home</a></li>
				<li class="active">About us</li>
			</ol>

			<h1>About us</h1>
			<br />

			<!-- Headings & Paragraph Copy -->
			<div class="row">

				<div class="col-md-12">
				    What is Maaliz.com?
				    </p>
					Maaliz.com is UAE's number one classified, where users can find jobs 
					, properties for rent, find properties for sale and sell all kind of products
					
					<p/>
					It takes you less than 2 minutes to post an ad on Maaliz.com. 
					You can sign up for a free account and post ads easily every time.
					
					</p>
					We  carefully review all ads that are being published, to make sure the quality is up to our standards.
				</div>



			</div>
			<!-- /row -->

		</div>

	</div>
</div>