<div class="container">
	<div class="row">


		<div class="col-md-12">
			<br />
			<ol class="breadcrumb">
				<li><a ui-sref="/">Home</a></li>
				<li class="active">About us</li>
			</ol>

			<h1>About us</h1>
			<br />

			<!-- Headings & Paragraph Copy -->
			<div class="row">

				<div class="col-md-12">
					xaashi.com is the leading classifieds website for users in the
					East Africa. Since its launch in 2015, xaashi.com has become the
					number one platform for users to buy, sell, or find anything in
					their community. </br> A community where underused goods are
					redistributed to fill a new need, and become wanted again, where
					non- product assets such as space, skills and money are exchanged
					and traded in new ways that do not always require centralized
					institutions or middlemen.
				</div>


				<!-- Misc Elements -->

			</div>
			<!-- /row -->

		</div>

	</div>
</div>