<div class="container">
	<div class="row">


		<div class="col-md-8">
			<br />
			<ol class="breadcrumb">
				<li><a ui-sref="/">Home</a></li>
				<li class="active">Contact us</li>
			</ol>
			<h1>Contact us</h1>
			<br />
			<p>
			    
			  <h2>Head office</h2>
			  
			   Dubai Internet City
			   <br/>
			   Shaikh Zayed Road
			   <br/>
			   Dubai - United Arab Emirates
			</p>
			</br>
			<p>
			    
			  <h2> Advertising & Ads related</h2>
			   Email: admin@maaliz.com
			</p>
			<br />
		</div>
	</div>