<div class="container">
	<div class="row">


		<div class="col-md-8">
			<br />
			<ol class="breadcrumb">
				<li><a ui-sref="/">Home</a></li>
				<li class="active">Contact us</li>
			</ol>
			<h1>Contact us</h1>
			<br />
			<p>
			    
			  <h2>Head office</h2>
			  
			   Near Maka Almukarama Hotel
			   <br/>
			   Maka Almukarama Road
			   <br/>
			   Somalia, Mogadisho
			</p>
			</br>
			<p>
			    
			  <h2> Advertising & Ads related</h2>
			  
			   Tel: +252 69 9345680
			   <br/>
			   Tel: +252 61 9345680
			   
			   <br/>
			   Email: admin@xaashi.com
			</p>
			<br />
		</div>
	</div>