<div class="container">
	<div class="row">


		<div class="col-md-8">
			<br />
			<ol class="breadcrumb">
				<li><a ui-sref="/">{{'HOME' | translate}}</a></li>
				<li class="active">{{'DELIVERY' | translate}}</li>
			</ol>
			<h1>{{'DELIVERY_TITLE' | translate}}</h1> 
			<br />
			{{'DELIVERY_DESC_ONE' | translate}} <a href="http://www.xaashi.com"> Xaashi.com </a>
			{{'DELIVERY_DESC_TWO' | translate}}
			<br/>
			{{'DELIVERY_DESC_THREE' | translate}}
			Tel: +252 69 9345680 
			Tel: +252 61 9345680 
			Email: admin@xaashi.com
			<p>
			
			<h1>{{'DELIVERY_DESC_FOUR' | translate}}</h1>
			
			{{'DELIVERY_DESC_FIVE' | translate}}:
			
			<ul>
			  <li> {{'DELIVERY_DESC_SIX' | translate}}</li>
			  <li> {{'DELIVERY_DESC_SEVEN' | translate}} </li>
			</ul>
			<br /> <br />
			<img src="css/images/cargo.png" />
			
			
			    
			
		</div>
	</div>