<div class="container">
	<div class="row">


		<div class="col-md-8">
			<br />
			<ol class="breadcrumb">
				<li><a ui-sref="/">{{'HOME' | translate}}</a></li>
				<li class="active">Delivery</li>
			</ol>
			<h1>Dirista alaabta</h1> 
			<br />
			Alaabta kujirta <a href="http://www.xaashi.com"> Xaashi.com </a>
			hadii aad doonaysi waa lugu soo diri meel kasta aad ka joogto Soomaliya.
			<br/>
			Wixi faafaahin nagala soo xiriir 
			Tel: +252 69 9345680 
			Tel: +252 61 9345680 
			Email: admin@xaashi.com
			<p>
			
			<h1>Habka dirista</h1>
			
			Habka dirista waa labo qaab:
			
			<ul>
			  <li> Diyaaradaha</li>
			  <li> Baabuurta </li>
			</ul>
			<br /> <br />
			<img src="css/images/cargo.png" />
			
			
			    
			
		</div>
	</div>