<div class="container" id="listings-page">
	<div class="row">

		<div class="col-md-3 hidden-sm hidden-xs">

			<br /> <br />
			<div class="well sidebar-form">
				<h3 style="margin-top: 0">
					<strong>{{'SEARCH' | translate}}</strong>
				</h3>


				<div class="form-group">
					<select class="form-control" ng-model="advSelectedCityId"
						ng-options="city.cityId as city.cityName for city in listCities">
					</select>
				</div>

				<div class="form-group">
					<select class="form-control" ng-model="advCategoryLevelOneObject"
						ng-options="category as category.categoryName for category in categories"
						ng-change="getSubCategoriesLevelTwo(advCategoryLevelOneObject)">
					</select>
				</div>

				<div class="form-group" ng-show="showSubCategoryLevelTwo">
					<select class="form-control" ng-model="advCategoryLevelTwoObject"
						ng-options="category as category.categoryName for category in listSubCategoriesLevelTwo"
						ng-change="getSubCategoriesLevelThree(advCategoryLevelTwoObject)">
					</select>
				</div>

				<div class="form-group" ng-show="showSubCategoryLevelThree">
					<select class="form-control" ng-model="advCategoryLevelThreeObject"
						ng-options="category as category.categoryName for category in listSubCategoriesLevelThree"
						ng-change="getSubCategoriesLevelFour(advCategoryLevelThreeObject)">
					</select>
				</div>

				<div class="form-group" ng-show="showSubCategoryLevelFour">
					<select class="form-control" ng-model="advCategoryLevelFourObject"
						ng-options="category as category.categoryName for category in listSubCategoriesLevelFour"
						ng-change="getSubCategoriesLevelFive(advCategoryLevelFourObject)">
					</select>
				</div>

				<div class="form-group" ng-show="showAdvanceSearchCarDiv || showAdvanceSearchHeavyVehicleDiv">
					<span>{{'PRICE' | translate}} ({{'CURRENCY_SYMBOL' | translate}}) </span>
					<div class="row">
						<div class="col-xs-6">
							<input name="inputPriceFrom" class="form-control"
								ng-model="priceFrom" placeholder="{{'PRICE_FROM' | translate}}">
						</div>
						<div class="col-xs-6">
							<input name="inputPriceTo" class="form-control"
								ng-model="priceTo" placeholder="{{'PRICE_TO' | translate}}">
						</div>
					</div>

					<span>{{'YEAR' | translate}} {{'MIN_MAX' | translate}}  </span>
					<div class="row">
						<div class="col-xs-6">
							<select class="form-control" name="selectYearMin"
								ng-model="yearMin" ng-options="year for year in years">
							</select>
						</div>
						<div class="col-xs-6">
							<select class="form-control" name="selectYearMax"
								ng-model="yearMax" ng-options="year for year in years">
							</select>
						</div>
					</div>

					<span>{{'KILOMETERS' | translate}}</span>
					<div class="row">
						<div class="col-xs-6">
							<input type="text" class="form-control"
								name="inputKilometersFrom" placeholder="{{'KM_FROM' | translate}}"
								ng-model="KMFrom">
						</div>
						<div class="col-xs-6">
							<input type="text" class="form-control" id="inputKilometersTo"
								placeholder="{{'KM_TO' | translate}}" ng-model="KMTo">
						</div>
					</div>

					<span>{{'SELLER_TYPE' | translate}}</span>
					<div class="row">
						<div class="col-xs-6">
							<select ng-model="selectedSellerType" class="form-control"
								name="selectedSellerType"
								ng-options="sellerType.id as sellerType.name for  sellerType in listSellerTypes">

							</select>
						</div>

					</div>
				</div>
				
				<!-- sale residential search  -->
				<div class="form-group" ng-show="showAdvanceSearchSaleResDiv || showAdvanceSearchRentResDiv 
												   || showAdvanceSearchRentShortMonthlyDiv || showAdvanceSearchRentShortDailyDiv">
					<span>{{'PRICE' | translate}} ({{'CURRENCY_SYMBOL' | translate}}) </span>
					<div class="row">
						<div class="col-xs-6">
							<input name="inputPriceFrom" class="form-control"
								ng-model="priceFrom" placeholder="{{'PRICE_FROM' | translate}}">
						</div>
						<div class="col-xs-6">
							<input name="inputPriceTo" class="form-control"
								ng-model="priceTo" placeholder="{{'PRICE_TO' | translate}}">
						</div>
					</div>
					
					<span>{{'BED_ROOM_MIN_MAX' | translate}}</span>
					<div class="row">
						<div class="col-xs-6">
							<select ng-model="bedroomMin" class="form-control"
								name="selectedBedroomMin"
								ng-options="bedrooms.id as bedrooms.name for  bedrooms in constantNoBedrooms">
							</select>
						</div>
						<div class="col-xs-6">
							<select ng-model="bedroomMax" class="form-control"
								name="selectedBedroomMax"
								ng-options="bedrooms.id as bedrooms.name for  bedrooms in constantNoBedrooms">
							</select>
						</div>
					</div>
				</div>
				
				<!-- sale commercial house search  -->
				<div class="form-group" ng-show="showAdvanceSearchSaleCommDiv || showAdvanceSearchSaleUnitsDiv 
					|| showAdvanceSearchSaleLandDiv || showAdvanceSearchRentCommDiv || showAdvanceSearchRentRoomDiv
					|| showAdvanceSearchClassifiedDiv">
					<span>{{'PRICE' | translate}} ({{'CURRENCY_SYMBOL' | translate}}) </span>
					<div class="row">
						<div class="col-xs-6">
							<input name="inputPriceFrom" class="form-control"
								ng-model="priceFrom" placeholder="{{'PRICE_FROM' | translate}}">
						</div>
						<div class="col-xs-6">
							<input name="inputPriceTo" class="form-control"
								ng-model="priceTo" placeholder="{{'PRICE_TO' | translate}}">
						</div>
					</div>
				</div>
				
				<!-- car parts, motorcycle -->
				<div class="form-group" ng-show="showAdvanceSearchCarPartsDiv || showAdvanceSearchBoatsDiv || showAdvanceSearchMotorcycleDiv">
					<span>{{'PRICE' | translate}} ({{'CURRENCY_SYMBOL' | translate}}) </span>
					<div class="row">
						<div class="col-xs-6">
							<input name="inputPriceFrom" class="form-control"
								ng-model="priceFrom" placeholder="{{'PRICE_FROM' | translate}}">
						</div>
						<div class="col-xs-6">
							<input name="inputPriceTo" class="form-control"
								ng-model="priceTo" placeholder="{{'PRICE_TO' | translate}}">
						</div>
					</div>
					
					<span>{{'SELLER_TYPE' | translate}}</span>
					<div class="row">
						<div class="col-xs-6">
							<select ng-model="selectedSellerType" class="form-control"
								name="selectedSellerType"
								ng-options="sellerType.id as sellerType.name for  sellerType in listSellerTypes">
							</select>
						</div>
					</div>
				</div>
				
				
				
				<div class="form-group">
					<input type="text" class="form-control" id="inputAdvSearchText"
						placeholder="search..." onfocus="this.placeholder=''"
						onblur="this.placeholder='search...'" ng-model="advTextSearch">
				</div>

				<button type="submit" class="btn btn-primary btn-block"
					ng-click="advanceSearch()">{{'SEARCH' | translate}}</button>
			</div>

			<div class="row visible-md visible-lg">
				<div class="col-xs-12 text-center" style="overflow: hidden">
					<script async
						src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Home left div Large Skyscraper -->
					<ins class="adsbygoogle"
						style="display: inline-block; width: 300px; height: 600px"
						data-ad-client="ca-pub-6780500882096971" data-ad-slot="3973066244"></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>
		</div>
        
		<div class="col-sm-6">
			<br /> <br />
			<div class="row">
				<div class="col-sm-12">
					<ol class="breadcrumb">
						<li ng-repeat="category in listRootCategories"><a
							ng-hide="$last"> {{category.categoryName}} </a> <span
							ng-show="$last" class="active">
								{{category.categoryName}} </span></li>
					</ol>
				</div>
			</div>              

			<div class="row">
			  <div class="col-sm-12">
			    
			    <div class="{{styleMessage}}" ng-show="showReplyMessage">
					<strong> {{replyMessage}} </strong>
				</div>
               
				<h1 >{{product.productTitle}} <span ng-show="product.productPrice > 0"  class="price"> -  {{'CURRENCY_SYMBOL' | translate }}  {{product.productPrice | number}}</span> </h1> 
				<div class="image-container">
					<a  class="property-img"   ng-href="{{mainImageUrl}}" rel="gallery1" ng-show="images.length > 0 && product.imageStatus =='IMAGE_LIVE'"  fancyboxable>
								<img ng-src="{{mainImageUrl}}"   spinner-load />
								<span class="property-caption2" ng-show="showCaptionImage">{{images.length}} {{'CLICK_ENLARGE' | translate}}</span>
					</a>
				</div>
				<div class="image-container" ng-show="product.imageStatus =='IMAGE_PENDING'">
					  <a  class="property-img fancybox"  ng-href="{{bucketName.otherImage + 'not_approved.png'}}"  fancyboxable>
								<img alt="" ng-src="{{bucketName.otherImage + 'not_approved.png'}}" class="img-responsive" >	
								<span class="property-caption2">Click here to enlarge</span>
					   </a>
				</div>
					
				<div  style="display: none" ng-repeat="image in images | limitTo: (1 - images.length)""  ng-if="images.length > 1 && product.imageStatus =='IMAGE_LIVE'">
                                <a   ng-href="{{image}}" rel="gallery1" fancyboxable >
                                	 <img   alt="" ng-src="{{image}}"></img>
                        		</a>
               </div>
                    
                   
                    <h2>{{'AL_DETAILS' | translate}}</h2>
                   
					<div class="row">	
					    <div class="col-xs-12"
					   		 ng-show="product.categoriesEntity.lft >= categoryRange.MOTOR_HEAVY_VEHICLE_MIN 
							 && product.categoriesEntity.rgt <= categoryRange.MOTOR_HEAVY_VEHICLE_MAX"> 
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PRICE' | translate}}</div>
								<div class="col-xs-6">${{product.productPrice | number}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'MAKE' | translate}}:</div>
								<div class="col-xs-6">{{product.make}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'MODEL' | translate}}:</div>
								<div class="col-xs-6">{{product.model}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'YEAR' | translate}}:</div>
								<div class="col-xs-6">{{product.yearMade}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'KILOMETERS' | translate}}:</div>
								<div class="col-xs-6">{{product.kilometers}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'HORSE_POWER' | translate}}:</div>
								<div class="col-xs-6">{{horsePowerConstant[product.horsePower-1].name}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'NO_CYLINDERS' | translate}} : </div>
								<div class="col-xs-6">{{noCylindersConstant[product.noCylinders-1].name}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'SELLER_TYPE' | translate}}:</div>
								<div class="col-xs-6">{{sellerTypeConstant[product.sellerType-1].name}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'FUEL_TYPE' | translate}}:</div>
								<div class="col-xs-6">{{fuelTypeCarConstant[product.fuelType-1].name}}</div>
							</div>		
						</div>
                        <!-- show car related fields -->
						<div class="col-xs-12"
						   ng-show="product.categoriesEntity.lft >= categoryRange.MOTOR_CAR_MIN 
							&& product.categoriesEntity.rgt <= categoryRange.MOTOR_CAR_MAX"> 
							
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PRICE' | translate}}</div>
								<div class="col-xs-6">{{'CURRENCY_SYMBOL' | translate }}  {{product.productPrice | number}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'BODY_TYPE' | translate}}:</div>
								<div class="col-xs-6">{{bodyTypeCarConstant[product.bodyType-1].name}}</div>
							</div>

							<div class="row">
								<div class="col-xs-6">{{'MAKE' | translate}}:</div>
								<div class="col-xs-6">{{product.categoriesEntity.categoryName}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'MODEL' | translate}}:</div>
								<div class="col-xs-6">{{product.model}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'YEAR' | translate}}</div>
								<div class="col-xs-6">{{product.yearMade}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'KILOMETERS' | translate}}:</div>
								<div class="col-xs-6">{{product.kilometers}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'SELLER_TYPE' | translate}}:</div>
								<div class="col-xs-6">{{sellerTypeConstant[product.sellerType-1].name}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'FUEL_TYPE' | translate}}:</div>
								<div class="col-xs-6">{{fuelTypeCarConstant[product.fuelType-1].name}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'TRANSMISSION' | translate}} :</div>
								<div class="col-xs-6">{{transmissionCarConstant[product.transmissionType-1].name}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'ENGINE_SIZE' | translate}}:</div>
								<div class="col-xs-6">{{product.engineSize}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'COLOUR' | translate}}:</div>
								<div class="col-xs-6">{{coloursCarConstant[product.colour-1].name}}</div>
							</div>
						</div>
						
						<!-- show car parts div -->
						<div class="col-xs-12"
						 ng-show="product.categoriesEntity.lft >= categoryRange.MOTOR_CAR_PARTS_MIN
							&& product.categoriesEntity.rgt <= categoryRange.MOTOR_CAR_PARTS_MAX"> 
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PRICE' | translate}}</div>
								<div class="col-xs-6">{{'CURRENCY_SYMBOL' | translate }}  {{product.productPrice | number}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'SELLER_TYPE' | translate}}:</div>
								<div class="col-xs-6">{{sellerTypeConstant[product.sellerType-1].name}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'USAGE' | translate}}:</div>
								<div class="col-xs-6">{{usageConstant[product.usageItem-1].name}}</div>
							</div>
						</div>
						<!-- show motorcycle div -->
						<div class="col-xs-12"
							ng-show="product.categoriesEntity.lft >= categoryRange.MOTOR_MOTORCYCLES_MIN
							&& product.categoriesEntity.rgt <= categoryRange.MOTOR_MOTORCYCLES_MAX"> 
							
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PRICE' | translate}}</div>
								<div class="col-xs-6">{{'CURRENCY_SYMBOL' | translate }}  {{product.productPrice | number}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'SELLER_TYPE' | translate}}:</div>
								<div class="col-xs-6">{{sellerTypeConstant[product.sellerType-1].name}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'USAGE' | translate}}:</div>
								<div class="col-xs-6">{{usageConstant[product.usageItem-1].name}}</div>
							</div>
						</div>
						<!-- show boats div -->
						<div class="col-xs-12"
							ng-show="product.categoriesEntity.lft >= categoryRange.MOTOR_BOATS_MIN
							&& product.categoriesEntity.rgt <= categoryRange.MOTOR_BOATS_MAX"> 
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PRICE' | translate}}</div>
								<div class="col-xs-6">{{'CURRENCY_SYMBOL' | translate }}  {{product.productPrice | number}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'USAGE' | translate}}:</div>
								<div class="col-xs-6">{{usageConstant[product.usageItem-1].name}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'LENGTH' | translate}}</div>
								<div class="col-xs-6">{{lengthBoatsConstant[product.length-1].name}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'SELLER_TYPE' | translate}}:</div>
								<div class="col-xs-6">{{sellerTypeConstant[product.sellerType-1].name}}</div>
							</div>
						</div>
						<!-- show only fields related to property residential sale -->
						<div class="col-xs-12"
							ng-show="product.categoriesEntity.lft >= categoryRange.PROPERTY_SALE_RES_MIN
							&& product.categoriesEntity.rgt <= categoryRange.PROPERTY_SALE_RES_MAX"> 
							
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PRICE' | translate}}</div>
								<div class="col-xs-6">{{'CURRENCY_SYMBOL' | translate }}  {{product.productPrice | number}}</div>
							</div>
							 <div class="row">
								 <div class="col-xs-6">  {{'SIZE' | translate }} {{'SQUARE_METRE' | translate }} </div>
								 <div class="col-xs-6">	{{product.propertySize}}  </div>
							 </div>
							 <div class="row">
								 <div class="col-xs-6"> {{'LISTED_BY' | translate}}: </div>
								 <div class="col-xs-6"> {{constantOwnerType[product.ownerType-1].name}}</div>			
							 </div>
							 <div class="row">
								 <div class="col-xs-6"> {{'ROOMS' | translate }}: </div>
								 <div class="col-xs-6"> {{constantNoBedrooms[product.noBedrooms-1].name}}</div>
							 </div>
							<div class="row">
						     	<div class="col-xs-6"> {{'BATHROOMS' | translate }}: </div>
							 	<div class="col-xs-6"> {{constantNoBathrooms[product.noBathrooms-1].name}}</div>
							</div>
							<div class="row">
						     	<div class="col-xs-6"> {{'NEIGHBOURHOOD' | translate }}: </div>
							 	<div class="col-xs-6"> {{product.neighbourhood}}</div>
							</div>
						</div>
						<!-- show only fields related to commercial property  sale  -->
						<div class="col-xs-12"
							ng-show="(product.categoriesEntity.lft >= categoryRange.PROPERTY_SALE_COMM_MIN
							&& product.categoriesEntity.rgt <= categoryRange.PROPERTY_SALE_COMM_MAX)
							||
							(product.categoriesEntity.lft >= categoryRange.PROPERTY_SALE_UNITS_MIN
							&& product.categoriesEntity.rgt <= categoryRange.PROPERTY_SALE_UNITS_MAX)
							||
							(product.categoriesEntity.lft >= categoryRange.PROPERTY_SALE_LAND_MIN
							&& product.categoriesEntity.rgt <= categoryRange.PROPERTY_SALE_LAND_MAX)"> 
						
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PRICE' | translate}}</div>
								<div class="col-xs-6">{{'CURRENCY_SYMBOL' | translate }}  {{product.productPrice | number}}</div>
							</div>
							 <div class="row">
								 <div class="col-xs-6"> {{'SIZE' | translate }} {{'SQUARE_METRE' | translate }}</div>
								 <div class="col-xs-6">	{{product.propertySize}}  </div>
							 </div>
							 <div class="row">
								 <div class="col-xs-6"> {{'LISTED_BY' | translate}}: </div>
								 <div class="col-xs-6"> {{constantOwnerType[product.ownerType-1].name}}</div>			
							 </div>
							 <div class="row">
						     	<div class="col-xs-6"> {{'NEIGHBOURHOOD' | translate }}: </div>
							 	<div class="col-xs-6"> {{product.neighbourhood}}</div>
							</div>
						</div>
						
						
						<!-- show only fields related to property residential rent -->
						
						<div class="col-xs-12"
							ng-show="(product.categoriesEntity.lft >= categoryRange.PROPERTY_RENT_RES_MIN
							&& product.categoriesEntity.rgt <= categoryRange.PROPERTY_RENT_RES_MAX)						
							|| (product.categoriesEntity.lft >= categoryRange.PROPERTY_RENT_SHORT_MONTHLY_MIN
							&& product.categoriesEntity.rgt <= categoryRange.PROPERTY_RENT_SHORT_MONTHLY_MAX)
							|| (product.categoriesEntity.lft >= categoryRange.PROPERTY_RENT_SHORT_DAILY_MIN
							&& product.categoriesEntity.rgt <= categoryRange.PROPERTY_RENT_SHORT_DAILY_MAX)"> 
						
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PRICE' | translate}}</div>
								<div class="col-xs-6">{{'CURRENCY_SYMBOL' | translate }}  {{product.productPrice | number}}</div>
							</div>
							 <div class="row">
								 <div class="col-xs-6"> {{'SIZE' | translate }} {{'SQUARE_METRE' | translate }}</div>
								 <div class="col-xs-6">	{{product.propertySize}}  </div>
							 </div>
							 <div class="row">
								 <div class="col-xs-6"> {{'LISTED_BY' | translate}}: </div>
								 <div class="col-xs-6"> {{constantOwnerType[product.ownerType-1].name}}</div>			
							 </div>
							 <div class="row">
								 <div class="col-xs-6"> {{'ROOMS' | translate }}: </div>
								 <div class="col-xs-6"> {{constantNoBedrooms[product.noBedrooms-1].name}}</div>
							 </div>
							<div class="row">
						     	<div class="col-xs-6"> {{'BATHROOMS' | translate }}: </div>
							 	<div class="col-xs-6"> {{constantNoBathrooms[product.noBathrooms-1].name}}</div>
							</div>
							<div class="row">
						     	<div class="col-xs-6"> {{'RENT_IS_PAID' | translate }}: </div>
							 	<div class="col-xs-6"> {{constantRentTime[product.rentTime-1].name}}</div>
							</div>
							<div class="row">
						     	<div class="col-xs-6"> {{'FURNISHED' | translate }}: </div>
							 	<div class="col-xs-6"> {{constantFurnished[product.furnished-1].name}}</div>
							</div>
							<div class="row">
						     	<div class="col-xs-6"> {{'NEIGHBOURHOOD' | translate }}: </div>
							 	<div class="col-xs-6"> {{product.neighbourhood}}</div>
							</div>
						</div>
						
						
						<!-- show only fields related to property commercial rent -->
						<div class="col-xs-12"
							ng-show="product.categoriesEntity.lft >= categoryRange.PROPERTY_RENT_COMM_MIN
							&& product.categoriesEntity.rgt <= categoryRange.PROPERTY_RENT_COMM_MAX"> 
						
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PRICE' | translate}}</div>
								<div class="col-xs-6">{{'CURRENCY_SYMBOL' | translate }}  {{product.productPrice | number}}</div>
							</div>
							 <div class="row">
								 <div class="col-xs-6">{{'SIZE' | translate }} {{'SQUARE_METRE' | translate }} </div>
								 <div class="col-xs-6">	{{product.propertySize}}  </div>
							 </div>
							 <div class="row">
								 <div class="col-xs-6"> {{'LISTED_BY' | translate}}: </div>
								 <div class="col-xs-6"> {{constantOwnerType[product.ownerType-1].name}}</div>			
							 </div>
							<div class="row">
						     	<div class="col-xs-6"> {{'RENT_IS_PAID' | translate }}: </div>
							 	<div class="col-xs-6"> {{constantRentTime[product.rentTime-1].name}}</div>
							</div>
							<div class="row">
						     	<div class="col-xs-6"> {{'FURNISHED' | translate }}: </div>
							 	<div class="col-xs-6"> {{constantFurnished[product.furnished-1].name}}</div>
							</div>
							<div class="row">
						     	<div class="col-xs-6"> {{'NEIGHBOURHOOD' | translate }}: </div>
							 	<div class="col-xs-6"> {{product.neighbourhood}}</div>
							</div>
						</div>
						
						
						<!-- show only fields related to property room rent -->
						<div class="col-xs-12"
							ng-show="product.categoriesEntity.lft >= categoryRange.PROPERTY_RENT_ROOM_MIN
							&& product.categoriesEntity.rgt <= categoryRange.PROPERTY_RENT_ROOM_MAX"> 
						
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PRICE' | translate}}</div>
								<div class="col-xs-6">{{'CURRENCY_SYMBOL' | translate }}  {{product.productPrice | number}}</div>
							</div>
							 <div class="row">
						     	<div class="col-xs-6"> {{'BATHROOMS' | translate }}: </div>
							 	<div class="col-xs-6"> {{constantNoBathrooms[product.noBathrooms-1].name}}</div>
							</div>
							 <div class="row">
								 <div class="col-xs-6"> {{'LISTED_BY' | translate}}: </div>
								 <div class="col-xs-6"> {{constantOwnerType[product.ownerType-1].name}}</div>			
							 </div>
							<div class="row">
						     	<div class="col-xs-6"> {{'RENT_IS_PAID' | translate }}: </div>
							 	<div class="col-xs-6"> {{constantRentTime[product.rentTime-1].name}}</div>
							</div>
							<div class="row">
						     	<div class="col-xs-6"> {{'FURNISHED' | translate }}: </div>
							 	<div class="col-xs-6"> {{constantFurnished[product.furnished-1].name}}</div>
							</div>
							<div class="row">
						     	<div class="col-xs-6"> {{'NEIGHBOURHOOD' | translate }}: </div>
							 	<div class="col-xs-6"> {{product.neighbourhood}}</div>
							</div>
						</div>	
						
						<!-- show classifed div -->
						<div class="col-xs-12"
							ng-show="product.categoriesEntity.lft >= categoryRange.CLASSIFIED_MIN && product.categoriesEntity.rgt <= categoryRange.CLASSIFIED_MAX
									    && !(product.categoriesEntity.lft >= categoryRange.CLASSIFIED_CAMERA_MIN && product.categoriesEntity.rgt <= categoryRange.CLASSIFIED_CAMERA_MAX)
									    && !(product.categoriesEntity.lft >= categoryRange.CLASSIFIED_COMPUTER_MIN && product.categoriesEntity.rgt <= categoryRange.CLASSIFIED_COMPUTER_MAX)
									    && !(product.categoriesEntity.lft >= categoryRange.CLASSIFIED_PETS_MIN && product.categoriesEntity.rgt <= categoryRange.CLASSIFIED_PETS_MAX)
									    && !(product.categoriesEntity.lft >= categoryRange.CLASSIFIED_BUSINESS_SALE_MIN && product.categoriesEntity.rgt <= categoryRange.CLASSIFIED_BUSINESS_SALE_MAX)
									    && !(product.categoriesEntity.lft >= categoryRange.CLASSIFIED_TICKETS_MIN && product.categoriesEntity.rgt <= categoryRange.CLASSIFIED_TICKETS_MAX)">				
			
								
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PRICE' | translate}}</div>
								<div class="col-xs-6">{{'CURRENCY_SYMBOL' | translate }}  {{product.productPrice | number}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'AGE' | translate}}:</div>
								<div class="col-xs-6">{{ageConstant[product.ageItem-1].name}}</div>
							</div>
							
							<div class="row">
								<div class="col-xs-6">{{'CONDITION' | translate}}:</div>
								<div class="col-xs-6">{{conditionConstant[product.conditionItem-1].name}}</div>
							</div>
						</div>
						
						<!-- show classifed business for sale -->
						<div class="col-xs-12"
							ng-show="product.categoriesEntity.lft >= categoryRange.CLASSIFIED_BUSINESS_SALE_MIN && product.categoriesEntity.rgt <= categoryRange.CLASSIFIED_BUSINESS_SALE_MAX">				
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PRICE' | translate}}</div>
								<div class="col-xs-6">{{'CURRENCY_SYMBOL' | translate }}  {{product.productPrice | number}}</div>
							</div>
						</div>
						
						<!-- show classifed camera div -->
						<div class="col-xs-12"
							ng-show="product.categoriesEntity.lft >= categoryRange.CLASSIFIED_CAMERA_MIN && product.categoriesEntity.rgt <= categoryRange.CLASSIFIED_CAMERA_MAX">
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PRICE' | translate}}</div>
								<div class="col-xs-6">{{'CURRENCY_SYMBOL' | translate }}  {{product.productPrice | number}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'AGE' | translate}}:</div>
								<div class="col-xs-6">{{ageConstant[product.ageItem-1].name}}</div>
							</div>
							
							<div class="row">
								<div class="col-xs-6">{{'CONDITION' | translate}}:</div>
								<div class="col-xs-6">{{conditionConstant[product.conditionItem-1].name}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'BRAND' | translate}}:</div>
								<div class="col-xs-6">{{cameraBrandConstant[product.brandItem-1].name}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'WARRANTY' | translate}}:</div>
								<div class="col-xs-6">{{warrantyConstant[product.warrantyItem-1].name}}</div>
							</div>
						</div>
						
						<!-- show classifed computers -->
						<div class="col-xs-12"
							ng-show="product.categoriesEntity.lft >= categoryRange.CLASSIFIED_COMPUTER_MIN && product.categoriesEntity.rgt <= categoryRange.CLASSIFIED_COMPUTER_MAX">				
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PRICE' | translate}}</div>
								<div class="col-xs-6">{{'CURRENCY_SYMBOL' | translate }}  {{product.productPrice | number}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'AGE' | translate}}:</div>
								<div class="col-xs-6">{{ageConstant[product.ageItem-1].name}}</div>
							</div>
							
							<div class="row">
								<div class="col-xs-6">{{'CONDITION' | translate}}:</div>
								<div class="col-xs-6">{{conditionConstant[product.conditionItem-1].name}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'BRAND' | translate}}:</div>
								<div class="col-xs-6">{{computerBrandConstant[product.brandItem-1].name}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'MEMORY_RAM' | translate }}:</div>
								<div class="col-xs-6">{{computerMemoryConstant[product.memoryRam-1].name}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PROCESS_SPEED' | translate}}:</div>
								<div class="col-xs-6">{{computerProcessorConstant[product.processorSpeed-1].name}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'HARD_DRIVE' | translate}}:</div>
								<div class="col-xs-6">{{computerHardDriveConstant[product.hardDrive-1].name}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'WARRANTY' | translate}}:</div>
								<div class="col-xs-6">{{warrantyConstant[product.warrantyItem-1].name}}</div>
							</div>
						</div>
						
						<!-- show classifed lost found -->
						<div class="col-xs-12"
							ng-show="product.categoriesEntity.lft >= categoryRange.CLASSIFIED_LOST_FOUND_MIN && product.categoriesEntity.rgt <= categoryRange.CLASSIFIED_LOST_FOUND_MAX">				
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PRICE' | translate}}</div>
								<div class="col-xs-6">{{'CURRENCY_SYMBOL' | translate }}  {{product.productPrice | number}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">Last seen:</div>
								<div class="col-xs-6">{{product.lastSeen}}</div>
							</div>	
						</div>
						
						<!-- show classifed lost found -->
						<div class="col-xs-12"
							ng-show="product.categoriesEntity.lft >= categoryRange.CLASSIFIED_PETS_MIN && product.categoriesEntity.rgt <= categoryRange.CLASSIFIED_PETS_MAX">				
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PRICE' | translate}}</div>
								<div class="col-xs-6">{{'CURRENCY_SYMBOL' | translate }}  {{product.productPrice | number}}</div>
							</div>
						</div>
						
						
						<!-- show classifed  tickets -->
						<div class="col-xs-12"
							ng-show="product.categoriesEntity.lft >= categoryRange.CLASSIFIED_TICKETS_MIN && product.categoriesEntity.rgt <= categoryRange.CLASSIFIED_TICKETS_MAX">				
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'PRICE' | translate}}</div>
								<div class="col-xs-6">{{'CURRENCY_SYMBOL' | translate }}  {{product.productPrice | number}}</div>
							</div>
							<div class="row">
								<div class="col-xs-6">{{'NUMBER' | translate}}:</div>
								<div class="col-xs-6">{{constantNumberTickets [product.numberOfTickets-1].name }}</div>
							</div>
						</div>
						
						<!-- show community -->
						<div class="col-xs-12"
							ng-show="product.categoriesEntity.lft >= categoryRange.COMMUNITY_MIN && product.categoriesEntity.rgt <= categoryRange.COMMUNITY_MAX">				
							<div class="row">
								<div class="col-xs-6">{{'POSTED' | translate}}</div>
								<div class="col-xs-6">{{product.created | date:'dd MMMM yyyy'}}</div>
							</div>
						</div>
						
					<!-- end div -->
				   </div>
					<h2>{{'DESCRIPTION' | translate}}</h2>	 
					<p>
						<span ng-bind-html="product.productDescription | trustAsHtml"></span>
					</p>

					<p>{{'AD_REF_NO' | translate}} {{product.productId}}</p>
						
						<div class="panel panel-default" cg-busy="{promise:myPromise, message:'Please wait...'}">
							<div class="panel-heading">
								<strong id="reply" name="reply">{{'REPLY_TO_THIS_AD' | translate}}</strong>
							</div>
						
						<div class="panel-body">
						<!-- sent message  -->
						    
						   
						   <form role="form" class="form-horizontal" name="replyAdForm"
						   		 data-ng-submit="sendReplyAdByEmail(replyAdForm.$valid)" novalidate>
									<div class="form-group has-feedback"
										ng-class="{ 'has-error': replyAdForm.inputEmail.$touched && 
										replyAdForm.inputEmail.$invalid ||
						        		replyAdForm.$submitted && replyAdForm.inputEmail.$invalid ,
						        		'has-success': !replyAdForm.inputEmail.$invalid}">

										<label for="inputEmail" class="control-label">{{'EMAIL_ADDRESS' | translate}}</label> 
										<input
											name="inputEmail" type="email" class="form-control"
											ng-model="replyAd.replierEmail" required="required">
										

										<span class="glyphicon glyphicon-ok form-control-feedback"
											ng-show="!replyAdForm.inputEmail.$invalid"> </span> <span
											class="glyphicon glyphicon-remove form-control-feedback"
											ng-show="replyAdForm.inputEmail.$touched && replyAdForm.inputEmail.$invalid || replyAdForm.$submitted && replyAdForm.inputEmail.$invalid">
										</span>
										<div class="help-block with-errors"
											ng-messages="replyAdForm.inputEmail.$error"
											ng-show="replyAdForm.inputEmail.$touched || replyAdForm.$submitted">
											<div ng-messages-include="messages.html"></div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-5">
											<div class="form-group has-feedback"
												ng-class="{ 'has-error': replyAdForm.inputName.$touched && 
												replyAdForm.inputName.$invalid ||
						       				 	replyAdForm.$submitted && replyAdForm.inputName.$invalid ,
						       			 		'has-success': !replyAdForm.inputName.$invalid}">

												<label for="inputName" class="control-label"> {{'YOUR_NAME' | translate}} </label> 
													<input type="text" class="form-control"
													name="inputName" placeholder=""
													ng-model="replyAd.replierName" required> <span
													class="glyphicon glyphicon-ok form-control-feedback"
													ng-show="!replyAdForm.inputName.$invalid"> </span> <span
													class="glyphicon glyphicon-remove form-control-feedback"
													ng-show="replyAdForm.inputName.$touched && replyAdForm.inputName.$invalid || replyAdForm.$submitted && replyAdForm.inputName.$invalid">
												</span>
												<div class="help-block with-errors"
													ng-messages="replyAdForm.inputName.$error"
													ng-show="replyAdForm.inputName.$touched || replyAdForm.$submitted">
													<div ng-messages-include="messages.html"></div>
												</div>
											</div>
										</div>
										<div class="col-sm-5 col-sm-offset-2">
											<div class="form-group has-feedback"
												ng-class="{ 'has-error': replyAdForm.inputPhone.$touched && 
												replyAdForm.inputPhone.$invalid ||
						       			 		replyAdForm.$submitted && replyAdForm.inputPhone.$invalid ,
						       			 		'has-success': !replyAdForm.inputPhone.$invalid}">

												<label for="inputUsername" class="control-label">{{'TELEPHONE' | translate}}</label>
												<input type="text" class="form-control" name="inputPhone"
													placeholder="" ng-model="replyAd.replierTelephone" required>

												<span class="glyphicon glyphicon-ok form-control-feedback"
													ng-show="!replyAdForm.inputPhone.$invalid"> </span> <span
													class="glyphicon glyphicon-remove form-control-feedback"
													ng-show="replyAdForm.inputPhone.$touched && replyAdForm.inputPhone.$invalid || replyAdForm.$submitted && replyAdForm.inputPhone.$invalid">
												</span>
												<div class="help-block with-errors"
													ng-messages="replyAdForm.inputPhone.$error"
													ng-show="replyAdForm.inputPhone.$touched || replyAdForm.$submitted">
													<div ng-messages-include="messages.html"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group has-feedback"
										ng-class="{ 'has-error': replyAdForm.inputMessage.$touched && 
										replyAdForm.inputMessage.$invalid ||
						       			 replyAdForm.$submitted && replyAdForm.inputMessage.$invalid ,
						       			 'has-success': !replyAdForm.inputMessage.$invalid}">

										<label for="inputMessage" class="control-label">{{'MESSAGE' | translate}} </label>
										<textarea class="form-control" rows="7" name="inputMessage"
											ng-model="replyAd.replierMessage" required>
										 </textarea>
										<span class="glyphicon glyphicon-ok form-control-feedback"
											ng-show="!replyAdForm.inputMessage.$invalid"> 
										</span> 
										<span class="glyphicon glyphicon-remove form-control-feedback"
											ng-show="replyAdForm.inputMessage.$touched && replyAdForm.inputMessage.$invalid || replyAdForm.$submitted && replyAdForm.inputMessage.$invalid">
										</span>
										<div class="help-block with-errors"
											ng-messages="replyAdForm.inputMessage.$error"
											ng-show="replyAdForm.inputMessage.$touched || replyAdForm.$submitted">
											<div ng-messages-include="messages.html"></div>
										</div>
									</div>
									<p class="text-muted"> {{'SEND_MESSAGE_TERMS' | translate}}
									</p>
									<button class="btn btn-primary btn-block">{{'SEND_MESSAGE' | translate}}</button>
					    	 </form>
					    	 </div>
					   </div>
					</div>	
				</div>
		</div>


		<div class="col-sm-5 col-md-3 center details-sidebar">
			<div class="row" style="margin-top: 156px;">
				<div class="col-xs-12 col-xs-offset-1d">

					<div class="row">
						<div class="col-xs-12">
							<a  ng-click="scrollTo('reply')"
								class="btn btn-primary btn-block">{{'SEND_MESSAGE' | translate}}</a>
						</div>
					</div>


					<div class="row">
						<div class="col-xs-12">
							<div class="phone-number">
								<span> {{product.user.telephone}} </span>
							</div>
						</div>
					</div>
					<br />

					<div class="row">
						<div class="col-xs-12">
							<script async
								src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<!-- Home page, right center div -->
							<ins class="adsbygoogle"
								style="display: inline-block; width: 300px; height: 250px"
								data-ad-client="ca-pub-6780500882096971"
								data-ad-slot="9461196640"></ins>
							<script>
								(adsbygoogle = window.adsbygoogle || [])
										.push({});
							</script>
						</div>
					</div>
					<br/>




					<div class="row">
						<div class="col-xs-12">
							<map
								center="{{product.location.latitude}}, {{product.location.longtitude}}"
								zoom="14" disable-double-click-zoom="true">
								<marker
									position="{{product.location.latitude}}, {{product.location.longtitude}}"></marker>
							</map>
							<p>
								
								{{product.location.neighborhood}}
								{{!product.location.city ? '' : '> '}}
								{{product.location.city}}
								{{!product.location.country? '' : '> '}}
								{{product.location.country}}
							</p>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>

