<p class="input-group">
										   <input type="text"
										      name="inputClosingDate" 
										      class="fromDate" 
										      uib-datepicker-popup
										      ng-model="ad.closingDate" 
											  is-open="popupDatePicker.opened" 
											  min-date="minDate" 
											  max-date="maxDate" 
											  datepicker-options="dateOptions"
											  ng-required="true"
											  close-text="Close" />
											  
											 
										
              							 <span class="input-group-btn">
               								 <button type="button" class="btn btn-default" ng-click="openDatePicker()">
               								   <i class="glyphicon glyphicon-calendar"></i>
               								</button>
              							</span>
              						</p>