<div class="jumbotron home-tron-search">
	<div class="container" style="position: relative;">
		<div class="home-slogan-area">
			<div class="row">
				<div class="col-xs-9 col-xs-offset-2 text-center">
					
						<h1 class="text-center">{{'HOME_CENTER_TITLE1' | translate }}</h1>
					
						 <p> {{'HOME_CENTER_TITLE2' | translate }} </p>
						 
				</div>
			</div>
		</div>
		
		<div class="home-tron-search-inner" >

			<div class="row">

				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-3 hidden-xs">
							<select ng-model="basicSelectedCityId" class="form-control" 
								ng-options="city.cityId as city.cityName for city in listCities">
							</select>
						</div>

						<div class="col-xs-7 col-sm-4">
							<input type="text" class="form-control col-xs-12 col-sm-12"
								placeholder="{{'SEARCH' | translate}}" onfocus="this.placeholder=''"
								onblur="this.placeholder='search...'" ng-model="basicTextSearch">



						</div>
						<div class="col-xs-3 hidden-xs">
							<select class="form-control" ng-model="basicSelectedCategory"
								ng-options="category.categoryId as category.categoryName for category in categories">
							</select>
						</div>

						<div class="col-xs-2">
							<button class="btn btn-primary btn-search"
								ng-click="basicSearch()">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container" style="min-height: 1032px">

	<div class="row">
		<div class="col-xs-3 hidden-xs hidden-sm">
			<br /> <br /> <br /> <br />

			<div class="well sidebar-form">
				<h3 style="margin-top: 0">
					<strong>{{'SEARCH' | translate}}</strong>
				</h3>


				<div class="form-group">
					<select class="form-control" ng-model="advSelectedCityId"
						ng-options="city.cityId as city.cityName for city in listCities">
					</select>
				</div>

				<div class="form-group">
					<select class="form-control" ng-model="advCategoryLevelOneObject"
						ng-options="category as category.categoryName for category in categories"
						ng-change="getSubCategoriesLevelTwo(advCategoryLevelOneObject)">
					</select>
				</div>

				<div class="form-group" ng-show="showSubCategoryLevelTwo">
					<select class="form-control" ng-model="advCategoryLevelTwoObject"
						ng-options="category as category.categoryName for category in listSubCategoriesLevelTwo"
						ng-change="getSubCategoriesLevelThree(advCategoryLevelTwoObject)">
					</select>
				</div>

				<div class="form-group" ng-show="showSubCategoryLevelThree">
					<select class="form-control" ng-model="advCategoryLevelThreeObject"
						ng-options="category as category.categoryName for category in listSubCategoriesLevelThree"
						ng-change="getSubCategoriesLevelFour(advCategoryLevelThreeObject)">
					</select>
				</div>

				<div class="form-group" ng-show="showSubCategoryLevelFour">
					<select class="form-control" ng-model="advCategoryLevelFourObject"
						ng-options="category as category.categoryName for category in listSubCategoriesLevelFour"
						ng-change="getSubCategoriesLevelFive(advCategoryLevelFourObject)">
					</select>
				</div>

				<div class="form-group" ng-show="showAdvanceSearchCarDiv || showAdvanceSearchHeavyVehicleDiv">
					<span>{{'PRICE' | translate}} ({{'CURRENCY_SYMBOL' | translate}}) </span>
					<div class="row">
						<div class="col-xs-6">
							<input name="inputPriceFrom" class="form-control"
								ng-model="priceFrom" placeholder="{{'PRICE_FROM' | translate}}">
						</div>
						<div class="col-xs-6">
							<input name="inputPriceTo" class="form-control"
								ng-model="priceTo" placeholder="{{'PRICE_TO' | translate}}">
						</div>
					</div>

					<span> {{'YEAR' | translate}} {{'MIN_MAX' | translate}} </span>
					<div class="row">
						<div class="col-xs-6">
							<select class="form-control" name="selectYearMin"
								ng-model="yearMin" ng-options="year for year in years">
							</select>
						</div>
						<div class="col-xs-6">
							<select class="form-control" name="selectYearMax"
								ng-model="yearMax" ng-options="year for year in years">
							</select>
						</div>
					</div>

					<span>{{'KILOMETERS' | translate}}</span>
					<div class="row">
						<div class="col-xs-6">
							<input type="text" class="form-control"
								name="inputKilometersFrom" placeholder="{{'KM_FROM' | translate}}"
								ng-model="KMFrom">
						</div>
						<div class="col-xs-6">
							<input type="text" class="form-control" id="inputKilometersTo"
								placeholder="{{'KM_TO' | translate}}" ng-model="KMTo">
						</div>
					</div>

					<span>{{'SELLER_TYPE' | translate}}</span>
					<div class="row">
						<div class="col-xs-6">
							<select ng-model="selectedSellerType" class="form-control"
								name="selectedSellerType"
								ng-options="sellerType.id as sellerType.name for  sellerType in listSellerTypes">

							</select>
						</div>

					</div>
				</div>
				
				<!-- sale residential search  -->
				<div class="form-group" ng-show="showAdvanceSearchSaleResDiv || showAdvanceSearchRentResDiv 
				   || showAdvanceSearchRentShortMonthlyDiv || showAdvanceSearchRentShortDailyDiv">
					<span>{{'PRICE' | translate}} ({{'CURRENCY_SYMBOL' | translate}}) </span>
					<div class="row">
						<div class="col-xs-6">
							<input name="inputPriceFrom" class="form-control"
								ng-model="priceFrom" placeholder="{{'PRICE_FROM' | translate}}">
						</div>
						<div class="col-xs-6">
							<input name="inputPriceTo" class="form-control"
								ng-model="priceTo" placeholder="{{'PRICE_TO' | translate}}">
						</div>
					</div>
					
					<span>{{'BED_ROOM_MIN_MAX' | translate}}</span>
					<div class="row">
						<div class="col-xs-6">
							<select ng-model="bedroomMin" class="form-control"
								name="selectedBedroomMin"
								ng-options="bedrooms.id as bedrooms.name for  bedrooms in constantNoBedrooms">
							</select>
						</div>
						<div class="col-xs-6">
							<select ng-model="bedroomMax" class="form-control"
								name="selectedBedroomMax"
								ng-options="bedrooms.id as bedrooms.name for  bedrooms in constantNoBedrooms">
							</select>
						</div>
					</div>
				</div>
				
				<!-- sale commercial house search  -->
				<div class="form-group" ng-show="showAdvanceSearchSaleCommDiv || showAdvanceSearchSaleUnitsDiv 
					|| showAdvanceSearchSaleLandDiv || showAdvanceSearchRentCommDiv || showAdvanceSearchRentRoomDiv
					|| showAdvanceSearchClassifiedDiv">
					<span>{{'PRICE' | translate}} ({{'CURRENCY_SYMBOL' | translate}})</span>
					<div class="row">
						<div class="col-xs-6">
							<input name="inputPriceFrom" class="form-control"
								ng-model="priceFrom" placeholder="{{'PRICE_FROM' | translate}}">
						</div>
						<div class="col-xs-6">
							<input name="inputPriceTo" class="form-control"
								ng-model="priceTo" placeholder="{{'PRICE_TO'  | translate}} ">
						</div>
					</div>
				</div>
				
				<!-- car parts, motorcycle -->
				<div class="form-group" ng-show="showAdvanceSearchCarPartsDiv || showAdvanceSearchBoatsDiv || showAdvanceSearchMotorcycleDiv">
					<span>{{'PRICE' | translate}} ({{'CURRENCY_SYMBOL' | translate}})</span>
					<div class="row">
						<div class="col-xs-6">
							<input name="inputPriceFrom" class="form-control"
								ng-model="priceFrom" placeholder="{{'PRICE_FROM' | translate}}">
						</div>
						<div class="col-xs-6">
							<input name="inputPriceTo" class="form-control"
								ng-model="priceTo" placeholder="{{'PRICE_TO' | translate}}">
						</div>
					</div>
					
					<span>{{'SELLER_TYPE' | translate}}</span>
					<div class="row">
						<div class="col-xs-6">
							<select ng-model="selectedSellerType" class="form-control"
								name="selectedSellerType"
								ng-options="sellerType.id as sellerType.name for  sellerType in listSellerTypes">
							</select>
						</div>
					</div>
				</div>
				
				
				
				<div class="form-group">
					<input type="text" class="form-control" id="inputAdvSearchText"
						placeholder="search..." onfocus="this.placeholder=''"
						onblur="this.placeholder='search...'" ng-model="advTextSearch">
				</div>

				<button type="submit" class="btn btn-primary btn-block"
					ng-click="advanceSearch()">{{'SEARCH' | translate}}</button>
			</div>

			<div class="row visible-md visible-lg">
				<div class="col-xs-12 text-center" style="overflow: hidden">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Home left div Large Skyscraper -->
					<ins class="adsbygoogle"
						style="display: inline-block; width: 300px; height: 600px"
						data-ad-client="ca-pub-6780500882096971" data-ad-slot="3973066244">
					</ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>

				</div>
			</div>

		</div>

		<div class="col-xs-12 col-sm-12 col-md-9">

			<h2 class="line text-primary">
				<span>{{'FEATURED_LISTINGS' | translate}}</span>
			</h2>
			
			<slick lazy-load="ondemand"  rtl={{isRtl}} autoplay=true mobile-first=true autoplay-speed=1500  slides-to-show=4 slides-to-scroll=1 init-onload=true data="listFeatured" class="slider lazy multiple-items" >
			         
                     <div class="col-sm-3 featured-listings" ng-repeat="featured in listFeatured" >
                           
                            <div class="panel panel-default" >
                             
                                  <a   id="{{featured.productId}}" class="property-img fancybox"
                                  	href ng-click="forwardToDetailsPage(featured.productId, featured.categoriesEntity.categoryId, 
                                     featured.categoriesEntity.lft, 
                                  	 featured.categoriesEntity.rgt)"> 
                                 	 <img data-lazy="{{bucketName.productImages + featured.productId + '/' + featured.coverPhoto}}"   height="162" width="100%;"/>
                                 	 <span class="property-caption" ng-show="featured.productPrice > 0"> {{'CURRENCY_SYMBOL' | translate }}  {{featured.productPrice | number}}</span>
                                  </a>
                                 
                                 
                                <div class="panel-body">

                                    <p> 
                                       {{featured.productTitle}} <br />
                                          
                                    </p>
                                    <div class="text-center col-xs-10 col-xs-offset-1">
                               		  <a id="{{featured.productId}}"  href ng-click="forwardToDetailsPage(featured.productId, featured.categoriesEntity.categoryId, featured.categoriesEntity.lft, featured.categoriesEntity.rgt)" class="btn btn-primary btn-block btn-xs">{{'DETAILS' | translate}}</a>
                                    </div>
                                </div>
                                
                            </div>
                      </div>
                      
			</slick>
			
			

			<h2 class="line text-primary">
				<span>{{'ALL_LISTINGS' | translate}}</span>
			</h2>
			<div class="row directory">

				<div class="directory-block col-sm-3 col-xs-6">
					<div class="row">
						<div class="col-xs-2">
							<i class="fa fa-car"></i>
						</div>
						<div class="col-xs-10">
						  	<a  ui-sref="listing ({searchType:'AdvanceSearch' , selectedCityId :0, 
								  finalSelectedCategoryId:  3, 
								  selectedCategoryIdLevelOne:  3,
								  selectedCategoryIdLevelTwo:  20})" >
									<h4>{{'MOTORS' |translate}}</h4>
									
							</a>
							<p>
							<a  ui-sref="listing ({searchType:'AdvanceSearchCar' , selectedCityId :0, 
								  finalSelectedCategoryId:  21, 
								  selectedCategoryIdLevelOne:  3,
								  selectedCategoryIdLevelTwo:  21,
								  selectedCategoryIdLevelThree:  30})" >

								   {{'CARS_FOR_SALE' | translate}}  <strong> {{countCars}} </strong>
								   
							</a> <br/>
								   
								   
						    <a  ui-sref="listing ({searchType:'AdvanceSearchCarParts' , selectedCityId :0, 
								  finalSelectedCategoryId:  22, 
								  selectedCategoryIdLevelOne:  3,
								  selectedCategoryIdLevelTwo: 22,
								  selectedCategoryIdLevelThree: 150})" >
								   
								    {{'SPARE_PARTS_ACCESSORIES' | translate}} <strong> {{countCarParts}} </strong>
						    </a> <br/>
								    
							<a  ui-sref="listing ({searchType:'AdvanceSearchBoats' , selectedCityId :0, 
								  finalSelectedCategoryId:  23, 
								  selectedCategoryIdLevelOne:  3,
								  selectedCategoryIdLevelTwo:  23})" >
								  
								    {{'BOATS' | translate}} <strong> {{countBoats}} </strong>
						   </a> <br/> 
								    
								    
								<a  ui-sref="listing ({searchType:'AdvanceSearchHeavyVehicle' , selectedCityId :0, 
								  finalSelectedCategoryId:  24, 
								  selectedCategoryIdLevelOne:  3,
								  selectedCategoryIdLevelTwo:  24,
								  selectedCategoryIdLevelThree:  300})" >
									{{'HEAVY_VEHICLES' | translate }} <strong> {{countHeavyVehicles}} </strong>
								 </a> <br/>
								 
								  <a  ui-sref="listing ({searchType:'AdvanceSearchMotorcycle' , selectedCityId :0, 
								 	 finalSelectedCategoryId:  25, 
								 	 selectedCategoryIdLevelOne:  3,
									 selectedCategoryIdLevelTwo:  25,
								 	 selectedCategoryIdLevelThree:  310})" >
								  
								 	{{'MOTORCYCLES' | translate }}  <strong> {{countMotorcycles}} </strong>
								  
								  </a> 
							</p>
							
						</div>
					</div>
				</div>

				<div class="directory-block col-sm-3 col-xs-6">
					<div class="row">
						<div class="col-xs-2">
							<i class="fa fa-home"></i>
						</div>
						<div class="col-xs-10">
							<a  ui-sref="listing ({searchType:'AdvanceSearchSaleRes' , selectedCityId :0, 
								  finalSelectedCategoryId:  5, 
								  selectedCategoryIdLevelOne:  5,
								  selectedCategoryIdLevelTwo: 320})" >
								<h4> {{'PROPERTY_FOR_SALE' | translate }}</h4>
							</a>
							<p>
								  <a  ui-sref="listing ({searchType:'AdvanceSearchSaleRes' , selectedCityId :0, 
								 	 finalSelectedCategoryId:  327, 
								 	 selectedCategoryIdLevelOne:  5,
									 selectedCategoryIdLevelTwo:  321,
								 	 selectedCategoryIdLevelThree:  327})" >
								  
								 	 {{'APARTMENT_FOR_SALE' | translate}} <strong> {{countSaleResApartment}} </strong>
								  
								  </a> <br/> 
								  <a  ui-sref="listing ({searchType:'AdvanceSearchSaleRes' , selectedCityId :0, 
								 	 finalSelectedCategoryId:  326, 
								 	 selectedCategoryIdLevelOne:  5,
									 selectedCategoryIdLevelTwo:  321,
								 	 selectedCategoryIdLevelThree:  326})" >
								  
								 	   {{'VILLA_FOR_SALE' | translate}} <strong> {{countSaleResVilla}} </strong>
								  
								  </a> <br/> 
								    
								 <a  ui-sref="listing ({searchType:'AdvanceSearchSaleComm' , selectedCityId :0, 
								 	 finalSelectedCategoryId:  322, 
								 	 selectedCategoryIdLevelOne:  5,
									 selectedCategoryIdLevelTwo:  322,
								 	 selectedCategoryIdLevelThree:  328})" >
								 	 
									 {{'COMMERCIAL_FOR_SALE ' | translate}} <strong> {{countSaleComm}} </strong>
								</a> <br/> 
									
								 <a  ui-sref="listing ({searchType:'AdvanceSearchSaleUnits' , selectedCityId :0, 
								 	 finalSelectedCategoryId:  323, 
								 	 selectedCategoryIdLevelOne:  5,
									 selectedCategoryIdLevelTwo:  323})" >
								 	 
									{{'UNITS_FOR_SALE' | translate }} <strong> {{countSaleUnits}}  </strong>
								</a> <br/> 
								   
								 <a  ui-sref="listing ({searchType:'AdvanceSearchSaleLand' , selectedCityId :0, 
								 	 finalSelectedCategoryId:  324, 
								 	 selectedCategoryIdLevelOne:  5,
									 selectedCategoryIdLevelTwo:  324})" >
									
									 {{'LAND_FOR_SALE' | translate}} <strong> {{countSaleLand}}  </strong>
									 
							    </a> <br/>
							</p>
						</div>
					</div>
				</div>

				<div class="directory-block col-sm-3 col-xs-6">
					<div class="row">
						<div class="col-xs-2">
							<i class="fa fa-briefcase fa-fw"></i>
						</div>
						<div class="col-xs-10">
							<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , selectedCityId :0, 
								  finalSelectedCategoryId:  7, 
								  selectedCategoryIdLevelOne:  7})" >
								  <h4>{{'JOB_VACANCIES' | translate}}</h4>
							
							</a>
							<p>
							     <a  ui-sref="listing ({searchType:'AdvanceSearchJob' , selectedCityId :0, 
								  finalSelectedCategoryId:  385, 
								  selectedCategoryIdLevelOne:  7,
								  selectedCategoryIdLevelTwo:  385})" >
									{{'JOB_CONSULTING' | translate}} <strong> {{countJobConsulting}}  </strong>
								</a> <br/>
								
								<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , selectedCityId :0, 
								  finalSelectedCategoryId:  384, 
								  selectedCategoryIdLevelOne:  7,
								  selectedCategoryIdLevelTwo:  384})" >
									{{'JOB_CONSTRUCTION'  | translate}} <strong> {{countJobConstruction}} </strong>
								</a> <br/>
								
								<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , selectedCityId :0, 
								  finalSelectedCategoryId:  376, 
								  selectedCategoryIdLevelOne:  7,
								  selectedCategoryIdLevelTwo:  376})" >
									{{'JOB_AIRLINES_AVIATION' | translate}}<strong> {{countJobAirlinesAviation}} </strong>
								</a> <br/>
							
								<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , selectedCityId :0, 
								  finalSelectedCategoryId:  408, 
								  selectedCategoryIdLevelOne:  7,
								  selectedCategoryIdLevelTwo:  408})" >
									{{'JOB_MEDIA' | translate}}<strong> {{countJobMedia}} </strong>
								</a> <br/> 
								
							</p>
						</div>
					</div>
				</div>

				<div class="directory-block col-sm-3 col-xs-6">
					<div class="row">
						<div class="col-xs-2">
							<i class="fa fa-briefcase fa-fw"></i>
						</div>
						<div class="col-xs-10">
							 <a  ui-sref="listing ({searchType:'AdvanceSearchJob' , selectedCityId :0, 
								  finalSelectedCategoryId:  7, 
								  selectedCategoryIdLevelOne:  7})" >
								  <h4>{{'JOB_VACANCIES' | translate}}</h4>
							</a>
							<p>
							    
							    <a  ui-sref="listing ({searchType:'AdvanceSearchJob' , selectedCityId :0, 
								  finalSelectedCategoryId:  375, 
								  selectedCategoryIdLevelOne:  7,
								  selectedCategoryIdLevelTwo:  375})" >
									{{'JOB_ACCOUNTING' | translate}} <strong> {{countJobAccounting}} </strong>
								</a> <br/>
								
								
								<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , selectedCityId :0, 
								  finalSelectedCategoryId: 380, 
								  selectedCategoryIdLevelOne:  7,
								  selectedCategoryIdLevelTwo:  380})" >
									{{'JOB_BANKING' | translate}}<strong> {{countJobBankingFinance}} </strong>
								</a> <br/>
								
								<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , selectedCityId :0, 
								     finalSelectedCategoryId:  395, 
								     selectedCategoryIdLevelOne:  7,
								     selectedCategoryIdLevelTwo:  395})">
									{{'JOB_GOVERNMENT_ADMIN' | translate}} <strong> {{countJobGovAdmin}} </strong>
								</a> <br/>
								
								<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , selectedCityId :0, 
								  finalSelectedCategoryId: 407, 
								  selectedCategoryIdLevelOne:  7,
								  selectedCategoryIdLevelTwo:  407})" >
									{{'JOB_MARKETTING_ADVERTISEMENT' | translate}} <strong> {{countJobMarkettingAdvertising}} </strong>
								</a> <br/>
									
							</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row directory">
                <div class="col-sm-6">
                    <div class="row">
                    
						<div class="directory-block col-xs-6 col-xs-6">
							<div class="row">
								<div class="col-xs-2">
									<i class="fa fa-laptop"></i>
								</div>
								<div class="col-xs-10">
									 <a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  4,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 554})">
											<h4>{{'ITEM_FOR_SALE' | translate}}</h4>
									</a>
									<p>
										<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  555,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 555,
										 	 selectedCategoryIdLevelThree:  556})">
								 		      {{'BABY_ITEMS' | translate }}<strong> {{countClassifiedBabyItems}} </strong> 
								  		</a> <br/>
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  609,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 609,
										 	 selectedCategoryIdLevelThree:  610})">
								 		      {{'BOOKS_ITMES' | translate}}  <strong> {{countClassifiedBooks}} </strong> 
								  		</a> <br/>  
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  667,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 667,
										 	 selectedCategoryIdLevelThree:  668})">
								 		      {{'BUSINESS_INDUSTRIAL' | translate}}<strong> {{countClassifiedBusinessIndustrial}} </strong> 
								  		</a> <br/> 
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  765,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 765,
										 	 selectedCategoryIdLevelThree: 766})">
								 		      {{'CAMERAS_IMAGING' | translate}} <strong> {{countClassifiedCamera}} </strong> 
								  		</a> <br/> 
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  838,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 838,
										 	 selectedCategoryIdLevelThree: 839})">
								 		      {{'CLOTHING_ACCESSORIES' | translate}}  <strong> {{countClassifiedClothing}} </strong> 
								  		</a> <br/> 
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  920,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 920,
										 	 selectedCategoryIdLevelThree: 921})">
								 		      {{'COLLECTIBLES' | translate}}   <strong> {{countClassifiedCollectibles}} </strong> 
								  		</a> <br/> 
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  968,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 968,
										 	 selectedCategoryIdLevelThree: 969})">
								 		       {{'COMPUTERS_NETWORK' | translate}} <strong> {{countClassifiedComputerNetwork}} </strong> 
								  		</a> <br/> 
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  1096,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 1086,
										 	 selectedCategoryIdLevelThree: 1096})">
								 		     {{'TELEVISION' | translate}} <strong> {{countClassifiedTV}} </strong> 
								  		</a> <br/> 
								  		
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  1086,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 1086,
										 	 selectedCategoryIdLevelThree: 1087})">
								 		      {{'ELECTRONICS' | translate}}   <strong> {{countClassifiedElectronics}} </strong> 
								  		</a> <br/> 
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  1570,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 1570,
										 	 selectedCategoryIdLevelThree: 1571})">
								 		      {{'TICKETS_VOUCHERS' | translate}} <strong> {{countClassifiedTicketsVouchers}} </strong> 
								  		</a> <br/> 
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  1196,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 1196,
										 	 selectedCategoryIdLevelThree: 1197})">
								 		       	{{'FURNITURE' | translate}}  <strong> {{countClassifiedFurniture}} </strong> 
								  		</a> <br/> 
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  1265,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 1265,
										 	 selectedCategoryIdLevelThree: 1266})">
								 		       	{{'GAMING' | translate}}  <strong> {{countClassifiedGaming}} </strong> 
								  		</a> <br/>
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId: 1323,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 1323,
										 	 selectedCategoryIdLevelThree: 1324})">
								 		       {{'HOME_APPLIANCES' | translate}} <strong> {{countClassifiedHomeAppliances}} </strong> 
								  		</a> <br/> 
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  1371,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 1367,
										 	 selectedCategoryIdLevelThree: 1371})">
								 		     {{'WATCHES' | translate}} <strong> {{countClassifiedWatches}} </strong> 
								  		</a> <br/>
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  1372,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 1367,
										 	 selectedCategoryIdLevelThree: 1372})">
								 		     {{'WOMEN_JEWELRY' | translate}} <strong> {{countClassifiedWomenJewelry}} </strong> 
								  		</a> <br/>
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  1425,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 1425})">
								 		     {{'MISCELLANEOUS' | translate}}  <strong> {{countClassifiedMisc}} </strong> 
								  		</a> <br/>
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  1426,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 1426,
										 	 selectedCategoryIdLevelThree: 1427})">
								 		      {{'MOBILES_PDA' | translate}}  <strong> {{countClassifiedMobile}} </strong> 
								  		</a> <br/>
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  1470,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 1470,
										 	 selectedCategoryIdLevelThree: 1471})">
								 		      {{'PETS' | translate}} <strong> {{countClassifiedPets}} </strong> 
								  		</a> <br/>
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  1488,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 1488,
										 	 selectedCategoryIdLevelThree: 1489})">
								 		      {{'SPORTS_EQUIPMENT' | translate}}<strong> {{countClassifiedSportsEquipment}} </strong> 
								  		</a> <br/>
								  		
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchClassified' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  1577,
								 		 	 selectedCategoryIdLevelOne: 4,
										 	 selectedCategoryIdLevelTwo: 1577})">
								 		      {{'TOYS' | translate}} <strong> {{countClassifiedToys}} </strong> 
								  		</a> <br/>
								  		
									</p>
								</div>
							</div>
						</div>
						
						
						 <div class="directory-block col-xs-6 col-xs-6">
							<div class="row">
								<div class="col-xs-2">
									<i class="fa fa-home"></i>
								</div>
								<div class="col-xs-10">
								<a  ui-sref="listing ({searchType:'AdvanceSearchRentRes' , selectedCityId :0, 
								  finalSelectedCategoryId:  6, 
								  selectedCategoryIdLevelOne:  6,
								  selectedCategoryIdLevelTwo: 333})" >
									<h4>{{'PROPERTY_FOR_RENT' | translate}}</h4>
								</a>
									<p>
									   <a  ui-sref="listing ({searchType:'AdvanceSearchRentRes' , selectedCityId :0, 
								 		 finalSelectedCategoryId:  343, 
								 		 selectedCategoryIdLevelOne:  6,
										 selectedCategoryIdLevelTwo:  334,
								 	 	 selectedCategoryIdLevelThree:  343})" >
								 		   {{'APARTMENT_FOR_RENT' | translate}} <strong> {{countRentResApartment}} </strong>
								  		</a> <br/> 
								  		
								  		 <a  ui-sref="listing ({searchType:'AdvanceSearchRentRes' , selectedCityId :0, 
								 		 finalSelectedCategoryId:  342, 
								 		 selectedCategoryIdLevelOne:  6,
										 selectedCategoryIdLevelTwo:  334,
								 	 	 selectedCategoryIdLevelThree:  342})">
								 		  {{'VILLA_FOR_RENT' | translate}} <strong> {{countRentResVilla}} </strong>
								  		</a> <br/> 
								  		
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchRentComm' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  335 ,
								 		 	 selectedCategoryIdLevelOne: 6,
										 	 selectedCategoryIdLevelTwo: 335,
										 	 selectedCategoryIdLevelThree:  345})">
								 		   {{'COMMERCIAL_FOR_RENT' | translate}} <strong> {{countRentComm}} </strong>
								  		</a> <br/> 
								  		
								  		
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchRentRoom' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  336 ,
								 		 	 selectedCategoryIdLevelOne: 6,
										 	 selectedCategoryIdLevelTwo: 336,
										 	 selectedCategoryIdLevelThree:  350})">
								 		   {{'ROOM_FOR_RENT' | translate}} <strong> {{countRentRoom}} </strong>
								  		</a> <br/> 
								  		
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchRentShortMonthly' , selectedCityId :0, 
								 			 finalSelectedCategoryId:  338 ,
								 		 	 selectedCategoryIdLevelOne: 6,
										 	 selectedCategoryIdLevelTwo: 338,
										 	 selectedCategoryIdLevelThree:  353})">
								 		      {{'SHORT_TERM_MONTHLY_RENT'  | translate}} <strong> {{countRentShortMonthly}} </strong>
								  		</a> <br/> 
								  		
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchRentShortDaily' , selectedCityId :0, 
								 		     finalSelectedCategoryId:  339 ,
								 		 	 selectedCategoryIdLevelOne: 6,
										 	 selectedCategoryIdLevelTwo: 339,
										 	 selectedCategoryIdLevelThree:  356})">
								 		      {{'SHORT_TERM_DAILY_RENT' | translate}} <strong> {{countRentShortDaily}} </strong> 
								  		</a> <br/>
									</p>
								</div>
							</div>
						</div>
						<div class="directory-block col-xs-6 col-xs-6">
							<div class="row">
								<div class="col-xs-2">
									<i class="fa fa-users"></i>
								</div>
								<div class="col-xs-10">
									<a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , selectedCityId :0, 
								 			 finalSelectedCategoryId: 8,
								 		 	 selectedCategoryIdLevelOne: 8,
										 	 selectedCategoryIdLevelTwo: 1589})">
											<h4>{{'COMMUNITY' | translate}}</h4>
									</a>
									<p>
									    <a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , selectedCityId :0, 
								 			 finalSelectedCategoryId: 1590,
								 		 	 selectedCategoryIdLevelOne: 8,
								 		 	 selectedCategoryIdLevelTwo: 1590})">
								 		     {{'COMMUNITY_ACTIVITIES'  | translate}} <strong> {{countCommunityActivities}} </strong> 
								  		</a> <br/>
								  		
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , selectedCityId :0, 
								 			 finalSelectedCategoryId: 1591 ,
								 		 	 selectedCategoryIdLevelOne: 8,
										 	 selectedCategoryIdLevelTwo: 1591})">
								 		     {{'COMMUNITY_ARTISTS' | translate}} <strong> {{countCommunityArtist}} </strong> 
								  		</a> <br/>
								  		
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , selectedCityId :0, 
								 			 finalSelectedCategoryId: 1592 ,
								 		 	 selectedCategoryIdLevelOne: 8,
										 	 selectedCategoryIdLevelTwo: 1592})">
								 		      {{'COMMUNITY_CAR_LIFT' | translate}}<strong> {{countCommunityCarLift}} </strong> 
								  		</a> <br/>
								  		
								  		
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , selectedCityId :0, 
								 			 finalSelectedCategoryId: 1593 ,
								 		 	 selectedCategoryIdLevelOne: 8,
										 	 selectedCategoryIdLevelTwo: 1593})">
								 		      {{'COMMUNITY_CHARITIES' | translate}} <strong> {{countCommunityCharities}} </strong> 
								  		</a> <br/>
								  		
								  		
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , selectedCityId :0, 
								 			 finalSelectedCategoryId: 1594 ,
								 		 	 selectedCategoryIdLevelOne: 8,
										 	 selectedCategoryIdLevelTwo: 1594})">
								 		     {{'COMMUNITY_CHILDCARE' | translate}}  <strong> {{countCommunityChildCare}} </strong> 
								  		</a> <br/>
								  		
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , selectedCityId :0, 
								 			 finalSelectedCategoryId: 1595 ,
								 		 	 selectedCategoryIdLevelOne: 8,
										 	 selectedCategoryIdLevelTwo: 1595})">
								 		     {{'COMMUNITY_CLASSES' | translate}}  <strong> {{countCommunityClasses}} </strong> 
								  		</a> <br/>
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , selectedCityId :0, 
								 			 finalSelectedCategoryId: 1597 ,
								 		 	 selectedCategoryIdLevelOne: 8,
										 	 selectedCategoryIdLevelTwo: 1597})">
								 		      {{'COMMUNITY_DOMESTIC' | translate}}  <strong> {{countCommunityDomestic}} </strong> 
								  		</a> <br/>
								  		
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , selectedCityId :0, 
								 			 finalSelectedCategoryId: 1604,
								 		 	 selectedCategoryIdLevelOne: 8,
										 	 selectedCategoryIdLevelTwo: 1604,
										 	 selectedCategoryIdLevelThree:  1607})">
								 		      {{'COMMUNITY_SERVICES' | translate}}  <strong> {{countCommunityServices}} </strong> 
								  		</a> <br/>
								  		
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , selectedCityId :0, 
								 			 finalSelectedCategoryId: 1599,
								 		 	 selectedCategoryIdLevelOne: 8,
										 	 selectedCategoryIdLevelTwo: 1599})">
								 		      {{'COMMUNITY_FREELANCERS' | translate}}  <strong> {{countCommunityFreelancers}} </strong> 
								  		</a> <br/>
								  		
								  		 <a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , selectedCityId :0, 
								 			 	finalSelectedCategoryId:  1619,
								 		 	 	selectedCategoryIdLevelOne: 8,
										 	 	selectedCategoryIdLevelTwo: 1619,
										 	 	selectedCategoryIdLevelThree:  1620})">
								 		     	{{'COMMUNITY_LOST_FOUND' | translate}} <strong> {{countCommunityLostFound}} </strong> 
								  		</a> <br/>
								  		
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , selectedCityId :0, 
								 			 finalSelectedCategoryId: 1605,
								 		 	 selectedCategoryIdLevelOne: 8,
								 		 	 selectedCategoryIdLevelTwo: 1605})">
								 		     {{'COMMUNITY_SPORTS'  | translate}} <strong> {{countCommunitySports}} </strong> 
								  		</a> <br/>
								  		
								  		<a  ui-sref="listing ({searchType:'AdvanceSearchCommunity' , selectedCityId :0, 
								 			 finalSelectedCategoryId: 1606,
								 		 	 selectedCategoryIdLevelOne: 8,
								 		 	 selectedCategoryIdLevelTwo: 1606})">
								 		     {{'COMMUNITY_FREE_STUFF'  | translate}} <strong> {{countCommunityFreeStuff}} </strong> 
								  		</a> <br/>
								  		
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				 <div class="col-xs-12 col-sm-6 col-lg-6 text-center">
                    <div class="directory-block-ad" style="margin-top: 0px; height: 290px;">
                        <br class="visible-xs" />
                        
						<script async
							src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Home page, right center div -->
						<ins class="adsbygoogle"
							style="display: inline-block; width: 300px; height: 250px"
							data-ad-client="ca-pub-6780500882096971"
							data-ad-slot="9461196640"></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
						<br class="visible-xs" />
                        <br class="visible-xs" />
					</div>
				</div>
				
			   <div class="directory-block col-sm-3 col-xs-6">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="fa fa-briefcase fa-fw"></i>
                        </div>
                        <div class="col-xs-10">
                           
                              <a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  advFinalSelectedCategoryId:  7, 
								  advSelectedCategoryIdLevelOne:  7})" >
								  <h4>{{'JOB_VACANCIES' | translate}}</h4>
							</a>                     
                             <p>
                               	<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  advFinalSelectedCategoryId:  422,
								  advSelectedCategoryIdLevelOne:  7,
								  advSelectedCategoryIdLevelTwo:  422})" >
									{{'JOB_SALES' | translate}} <strong> {{countJobSales}} </strong>
								</a> <br/>
								
								<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  advFinalSelectedCategoryId:  387, 
								  advSelectedCategoryIdLevelOne:  7,
								  advSelectedCategoryIdLevelTwo:  387})" >
									{{'JOB_EDUCATION' | translate}} <strong> {{countJobEducation}} </strong>
								</a> <br/>
								
								<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  advFinalSelectedCategoryId:  389, 
								  advSelectedCategoryIdLevelOne:  7,
								  advSelectedCategoryIdLevelTwo:  389})" >
									{{'JOB_ENGINEERING' | translate}}<strong> {{countJobEngineering}} </strong>
								</a> <br/>
								
								<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  advFinalSelectedCategoryId:  398, 
								  advSelectedCategoryIdLevelOne:  7,
								  advSelectedCategoryIdLevelTwo:  398})" >
									{{'JOB_HR_RECRUITMENT' | translate}}<strong> {{countJobHRRecruitment}} </strong>
								</a> <br/> 
								
								<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  advFinalSelectedCategoryId: 413, 
								  advSelectedCategoryIdLevelOne:  7,
								  advSelectedCategoryIdLevelTwo:  413})" >
									{{'JOB_PUBLIC_RELATIONS' | translate}} <strong> {{countJobPublicRelations}} </strong>
								</a> <br/>
								
								<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								     advFinalSelectedCategoryId:  392, 
								     advSelectedCategoryIdLevelOne:  7,
								     advSelectedCategoryIdLevelTwo:  392})">
									{{'JOB_EXECUTIVE' | translate}} <strong> {{countJobExecutive}} </strong>
								</a> <br/>
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="directory-block col-sm-3 col-xs-6">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="fa fa-briefcase fa-fw"></i>
                        </div>
                        <div class="col-xs-10">
                           
                             <a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  advFinalSelectedCategoryId:  7, 
								  advSelectedCategoryIdLevelOne:  7})" >
								  <h4>{{'JOB_VACANCIES' | translate}}</h4>
							</a>                        
                            <p>
                                <a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  advFinalSelectedCategoryId:  381, 
								  advSelectedCategoryIdLevelOne:  7,
								  advSelectedCategoryIdLevelTwo:  381})" >
									{{'JOB_BEAUTY' | translate}} <strong> {{countJobBeauty}} </strong>
								</a> <br/>
								
								<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  advFinalSelectedCategoryId:  410, 
								  advSelectedCategoryIdLevelOne:  7,
								  advSelectedCategoryIdLevelTwo:  410})" >
									{{'JOB_OIL_GAS' | translate}} <strong> {{countJobOilGas}} </strong>
								</a> <br/>
								
								<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  advFinalSelectedCategoryId:  423, 
								  advSelectedCategoryIdLevelOne:  7,
								  advSelectedCategoryIdLevelTwo:  423})" >
									{{'JOB_SECRETARIAL' | translate}} <strong> {{countJobSecretarial}} </strong>
								</a> <br/>
								
								<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  advFinalSelectedCategoryId:  386, 
								  advSelectedCategoryIdLevelOne:  7,
								  advSelectedCategoryIdLevelTwo:  386})" >
									{{'JOB_CUSTOMER_SERVICE' | translate }} <strong> {{countJobCustomerService}} </strong>
								</a> <br/>
								
								<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								  advFinalSelectedCategoryId:  378, 
								  advSelectedCategoryIdLevelOne:  7,
								  advSelectedCategoryIdLevelTwo:  378})" >
									{{'JOB_ART' | translate}} <strong> {{countJobArtEntertainment}} </strong>
								</a> <br/>
									
								<a  ui-sref="listing ({searchType:'AdvanceSearchJob' , advSelectedCityId :0, 
								     advFinalSelectedCategoryId:  396, 
								     advSelectedCategoryIdLevelOne:  7,
								     advSelectedCategoryIdLevelTwo:  396})" >
									{{'JOB_GRAPHIC_DESIGN' | translate}}  <strong> {{countJobGraphicDesign}} </strong>
								</a> <br/>
                               
                            </p>
                        </div>
                    </div>
                </div>   
			</div>	
		</div>
	</div>
</div>