<div class="container">
	<br /> <br />

	<div class="row">
		<div class="col-md-3 visible-md visible-lg">


			<div class="well sidebar-form">
				<h3 style="margin-top: 0">
					<strong>{{'SEARCH' | translate}}</strong>
				</h3>
			
					<div class="form-group">
						<select class="form-control" ng-model="selectedCityId" 
							ng-options="city.cityId as city.cityName for city in listCities">
						</select>
					</div>
					<div class="form-group">
						<select  class="form-control"  ng-model="categoryLevelOneObject" 
							ng-options="category as category.categoryName for category in listSubCategoriesLevelOne"
							 ng-change="getSubCategoriesLevelTwo(categoryLevelOneObject)">
						</select>
					</div>
					<div class="form-group" ng-show="showSubCategoryLevelTwo">
						<select  class="form-control"  ng-model="categoryLevelTwoObject" 
							ng-options="category as category.categoryName for category in listSubCategoriesLevelTwo"
							 ng-change="getSubCategoriesLevelThree(categoryLevelTwoObject)">
						</select>
					</div>
					
					<div class="form-group" ng-show="showSubCategoryLevelThree">
						<select  class="form-control"  ng-model="categoryLevelThreeObject" 
							ng-options="category as category.categoryName for category in listSubCategoriesLevelThree"
							 ng-change="getSubCategoriesLevelFour(categoryLevelThreeObject)">
						</select>
					</div>
					
					<div class="form-group" ng-show="showSubCategoryLevelFour">
						<select  class="form-control"  ng-model="categoryLevelFourObject" 
							ng-options="category as category.categoryName for category in listSubCategoriesLevelFour"
							 ng-change="getSubCategoriesLevelFive(categoryLevelFourObject)">
						</select>
					</div>
					
					<!-- advance seach car div, only show when user selects car -->
					<div class="form-group" ng-show="showAdvanceSearchCarDiv || showAdvanceSearchHeavyVehicleDiv">
						<span>{{'PRICE' | translate}} ({{'CURRENCY_SYMBOL' | translate}}) </span> 
						<div class="row">
							<div class="col-xs-6">
								<input name="inputPriceFrom" class="form-control"
									ng-model="priceFrom" placeholder="{{'PRICE_FROM' | translate}}">
							</div>
							<div class="col-xs-6">
								<input name="inputPriceTo" class="form-control"
									ng-model="priceTo" placeholder="{{'PRICE_TO' | translate}}">
							</div>
						</div>

						<span> {{'YEAR' | translate}} {{'MIN_MAX' | translate}} </span>
						<div class="row">
							<div class="col-xs-6">
								<select class="form-control" name="selectYearMin"
									ng-model="yearMin" ng-options="year for year in years">
								</select>
							</div>
							<div class="col-xs-6">
								<select class="form-control" name="selectYearMax"
									ng-model="yearMax" ng-options="year for year in years">
								</select>
							</div>
						</div>

						<span>{{'KILOMETERS' | translate}}</span>
						<div class="row">
							<div class="col-xs-6">
								<input type="text" class="form-control"
									name="inputKilometersFrom" placeholder="{{'KM_FROM' | translate}}" ng-model="KMFrom">
							</div>
							<div class="col-xs-6">
								<input type="text" class="form-control" id="inputKilometersTo"
									placeholder="{{'KM_TO' | translate}}" ng-model="KMTo">
							</div>
						</div>

						<span>{{'SELLER_TYPE' | translate}}</span>
						<div class="row">
							<div class="col-xs-6">
								<select ng-model="sellerType" class="form-control"
									name="selectedSellerType"
									ng-options="sellerType.id as sellerType.name for  sellerType in listSellerTypes">

								</select>
							</div>
						</div>
					</div>
					<!-- sale residential search  -->
				<div class="form-group" ng-show="showAdvanceSearchSaleResDiv || showAdvanceSearchRentResDiv
				|| showAdvanceSearchRentShortMonthlyDiv || showAdvanceSearchRentShortDailyDiv">
					<span>{{'PRICE' | translate}} ({{'CURRENCY_SYMBOL' | translate}}) </span>
					<div class="row">
						<div class="col-xs-6">
							<input name="inputPriceFrom" class="form-control"
								ng-model="priceFrom" placeholder="{{'PRICE_FROM' | translate}}">
						</div>
						<div class="col-xs-6">
							<input name="inputPriceTo" class="form-control"
								ng-model="priceTo" placeholder="{{'PRICE_TO' | translate}}">
						</div>
					</div>
					
					<span>{{'BED_ROOM_MIN_MAX' | translate}}</span>
					<div class="row">
						<div class="col-xs-6">
							<select ng-model="bedroomMin" class="form-control"
								name="selectedBedroomMin"
								ng-options="bedrooms.id as bedrooms.name for  bedrooms in constantNoBedrooms">
							</select>
						</div>
						<div class="col-xs-6">
							<select ng-model="bedroomMax" class="form-control"
								name="selectedBedroomMax"
								ng-options="bedrooms.id as bedrooms.name for  bedrooms in constantNoBedrooms">
							</select>
						</div>
					</div>
				</div>
				<!-- sale commercial search  -->
				<div class="form-group" ng-show="showAdvanceSearchSaleCommDiv || showAdvanceSearchSaleUnitsDiv || showAdvanceSearchSaleLandDiv
				 || showAdvanceSearchRentCommDiv || showAdvanceSearchRentRoomDiv
				 || showAdvanceSearchClassifiedDiv || showAdvanceSearchClassifiedCameraDiv">
					<span>{{'PRICE' | translate}} ({{'CURRENCY_SYMBOL' | translate}}) </span>
					<div class="row">
						<div class="col-xs-6">
							<input name="inputPriceFrom" class="form-control"
								ng-model="priceFrom" placeholder="{{'PRICE_FROM' | translate}}">
						</div>
						<div class="col-xs-6">
							<input name="inputPriceTo" class="form-control"
								ng-model="priceTo" placeholder="{{'PRICE_TO' | translate}}">
						</div>
					</div>
				</div>
				<!-- car parts & accessories search  -->
				<div class="form-group" ng-show="showAdvanceSearchCarPartsDiv || showAdvanceSearchBoatsDiv || 
						showAdvanceSearchMotorcycleDiv">
						<span>{{'PRICE' | translate}} ({{'CURRENCY_SYMBOL' | translate}}) </span>
						<div class="row">
							<div class="col-xs-6">
								<input name="inputPriceFrom" class="form-control"
									ng-model="priceFrom" placeholder="{{'PRICE_FROM' | translate}}">
							</div>
							<div class="col-xs-6">
								<input name="inputPriceTo" class="form-control"
									ng-model="priceTo" placeholder="{{'PRICE_TO' | translate}}">
							</div>
					</div>
					
					<span>{{'SELLER_TYPE' | translate}}</span>
					<div class="row">
						<div class="col-xs-6">
							<select ng-model="sellerType" class="form-control"
								name="selectedSellerType"
								ng-options="sellerType.id as sellerType.name for  sellerType in listSellerTypes">
							</select>
						</div>
					</div>
				</div>
				
				<div class="form-group">
						<input type="text" class="form-control" id="inputSearchText"
							placeholder="search....." ng-model="searchText"
							onfocus="this.placeholder=''"
							onblur="this.placeholder='search...'">
				</div>
					

				<button type="submit" class="btn btn-primary btn-block" ng-click="search()">{{'SEARCH' | translate}}</button>
			</div>

			<div class="row visible-md visible-lg">
				<div class="col-xs-12 text-center" style="overflow: hidden">
					<script async
						src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Home left div Large Skyscraper -->
					<ins class="adsbygoogle"
						style="display: inline-block; width: 300px; height: 600px"
						data-ad-client="ca-pub-6780500882096971" data-ad-slot="3973066244"></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>
		</div>
        
        <div  ng-show="!ads" cg-busy="{promise:myPromise,backdrop:true, message:'Searching...please wait'}" >  
        </div>
		<div class="col-md-9 listings" ng-show="ads.content.length" cg-busy="{promise:myPromise,backdrop:true, message:'Searching...please wait'}" >
			<div class="row">
				<div class="col-sm-12">

					<h1  class="text-center">{{ads.totalElements}} {{'ADS_IN' | translate}}
						 {{ (cityName.indexOf(">") >  -1 ==false  ?  cityName  : 'COUNTRY') | translate }}
				    </h1>

				</div>
			</div>
		

			<div class="row">
				<div class="col-xs-9">
					<div class="col-sm-4 hidden-xs" ng-repeat="(key, val) in countProductByDepth">
							 {{val[0]}} ({{val[1]}})
					</div>
				</div>
          		    <div class="col-sm-3 sort-options">
          		   	   <div class="flip pull-right">          		    
          		           <span class="flip pull-left"> {{'SORT_BY' | translate}} </span>
          		   
          		    	   <select id="sort"
							   ng-model="orderProp" 
							   ng-change="resetSorting()"
							   class="form-control"
							   ng-options="sortBy.id as sortBy.name for  sortBy in sortByConstant">
						    </select>
						 </div>
          		    </div>
				</div>
			<br />
			<hr/>

			

			<div id="div1" class="row"
				ng-repeat="ad in ads.content | orderBy:orderProp">
				<div class="col-xs-12">
					<div class="listing-row"
						ng-class="{premium : ad.productPriority=='PRIORITY_FEATURED'}">
						<div class="row">
							<div class="ribbon-wrapper-red"
								ng-show="ad.productPriority=='PRIORITY_FEATURED'">
								<div class="ribbon-red">
									&nbsp;<span>Featured</span>
								</div>
							</div>
							<div class="col-sm-9">
								<div class="row">
									<div class="col-sm-8">
										<h2>
										   <a  href ng-click="forwardToDetailsPage(ad.productId, ad.categoriesEntity.categoryId, ad.categoriesEntity.lft, ad.categoriesEntity.rgt)" >{{ad.productTitle}}</a>
										</h2>
									</div>
									<div class="col-sm-4" ng-show="ad.productPrice > 0">
									
										<h2 class="price text-right">{{'CURRENCY_SYMBOL' | translate }}  {{ad.productPrice | number}}</h2>
									</div>
								</div>
							</div>
						</div>



						<div class="row">
							<div class="col-sm-3" ng-show="ad.coverPhoto.length > 0 ">
								 <a  href ng-click="forwardToDetailsPage(ad.productId, ad.categoriesEntity.categoryId, ad.categoriesEntity.lft,  ad.categoriesEntity.rgt)" >
								    <img alt="176 * 120"
									  class="listing-photo"
									  ng-src="{{ad.imageStatus == 'IMAGE_LIVE' && bucketName.productImages + ad.productId + '/' + ad.coverPhoto ||  bucketName.otherImage + 'not_approved.png'}}"
									  ng-if="ad.coverPhoto.length > 0">
								</a>
							</div>

							<div class="col-sm-9">

								<div class="row">
									<div class="col-sm-8">

										<p class="muted">
											{{'POSTED' | translate}} <strong>{{ad.created | date:'dd MMMM yyyy'}} </strong>
											 <ul class="list-inline" ng-init="listRootCategories[ad.productId] = getRootCategoriesByCategoryId (ad.categoriesEntity.categoryId, ad.productId)"> 
      											  <li ng-repeat="category in listRootCategories[ad.productId]">
              										 <strong> {{category.categoryName}} {{$last ? '' : '> '}} </strong>  
       											 </li>
 											</ul> 
										</p>
										<br />
									</div>
								</div>
								<!-- motor cars , show only fields related to cars -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.MOTOR_CAR_MIN && ad.categoriesEntity.rgt <= categoryRange.MOTOR_CAR_MAX">
									<div class="row">
									<div class="col-sm-5">
											{{'MODEL' | translate}}: <strong>
											{{ad.model }}</strong>
										</div>
										<div class="col-sm-5">
											{{'YEAR' | translate}}: <strong>
											{{ad.yearMade}}</strong>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-5">
											{{'KILOMETERS' | translate}}: <strong>
											{{ad.kilometers}}</strong>
										</div>
										<div class="col-sm-5">
											{{'COLOUR' | translate}}: <strong>
											{{colourConstant[ad.colour-1].name }}</strong>
										</div>									
									</div>
								</div>
									<!-- motor cars , show only fields related to heavy vehic -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.MOTOR_HEAVY_VEHICLE_MIN && ad.categoriesEntity.rgt <= categoryRange.MOTOR_HEAVY_VEHICLE_MAX">
									<div class="row">
										<div class="col-sm-5">
											{{'MAKE' | translate}}: <strong>
											{{ad.make }}</strong>
										</div>
									    <div class="col-sm-5">
											{{'MODEL' | translate}}: <strong>
											{{ad.model }}</strong>
										</div>
											
									</div>
									<div class="row">
										<div class="col-sm-5">
											{{'YEAR' | translate}}: <strong>
											{{ad.yearMade}}</strong>
										</div>
										<div class="col-sm-5">
											{{'KILOMETERS' | translate}}: <strong>
											{{ad.kilometers}}</strong>
										</div>
																		
									</div>
								</div>
								
								<!-- show only fields related to motorcycle -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.MOTOR_MOTORCYCLES_MIN && ad.categoriesEntity.rgt <= categoryRange.MOTOR_MOTORCYCLES_MAX">
									<div class="row">
										<div class="col-sm-10">
											{{'USAGE' | translate}}: <strong>
											{{usageConstant[ad.usageItem-1].name}}</strong>
										</div>		
									</div>
									<div class="row">
										<div class="col-md-10">
											{{'SELLER_TYPE' | translate}}: <strong>
										 	{{sellerTypeConstant[ad.sellerType-1].name}}</strong>
										 </div>
									</div>
								</div>	
								<!-- show only fields related to car parts -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.MOTOR_CAR_PARTS_MIN && ad.categoriesEntity.rgt <= categoryRange.MOTOR_CAR_PARTS_MAX">
									<div class="row">
										<div class="col-sm-10">
											{{'USAGE' | translate}}: <strong>
											{{usageConstant[ad.usageItem-1].name}}</strong>
										</div>		
									</div>
									<div class="row">
										<div class="col-md-10">
											{{'SELLER_TYPE' | translate}}: <strong>
										 	{{sellerTypeConstant[ad.sellerType-1].name}}</strong>
										 </div>
									</div>
								</div>	
								
								<!-- show only fields related to boats -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.MOTOR_BOATS_MIN && ad.categoriesEntity.rgt <= categoryRange.MOTOR_BOATS_MAX">
									<div class="row">
										
										<div class="col-sm-5">
											{{'USAGE' | translate}}: <strong>
											{{usageConstant[ad.usageItem-1].name}}</strong>
										</div>									
										<div class="col-sm-5">
											{{'WARRANTY' | translate}}: <strong>
											{{warrantyConstant[ad.warrantyItem-1].name}}</strong>
										</div>		
									</div>	
									<div class="row">
										<div class="col-md-5">
											{{'SELLER_TYPE' | translate}}:  <strong>
										 	{{sellerTypeConstant[ad.sellerType-1].name}}</strong>
										 </div>
										 <div class="col-md-5">
											{{'LENGTH' | translate}}: <strong>
										 	{{lengthConstant[ad.length-1].name}}</strong>
										 </div>
									</div>
								</div>	
								
								<!-- show only fields related to property residential sale -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.PROPERTY_SALE_RES_MIN && ad.categoriesEntity.rgt <= categoryRange.PROPERTY_SALE_RES_MAX">
									<div class="row">
										<div class="col-sm-5">
											{{'SIZE' | translate }} {{'SQUARE_METRE' | translate }}:<strong >
											{{ad.propertySize}} </strong>
										</div>
										<div class="col-sm-5">
											{{'LISTED_BY' | translate}}: <strong>
											{{constantOwnerType[ad.ownerType-1].name}}</strong>
										</div>			
									</div>
									<div class="row">
										<div class="col-md-5">
											{{'ROOMS' | translate }}: <strong >
										 	{{constantNoBedrooms[ad.noBedrooms-1].name}}</strong>
										 </div>
										 <div class="col-md-5">
											{{'BATHROOMS' | translate }}: <strong >
										 	{{constantNoBathrooms[ad.noBathrooms-1].name}}</strong>
										 </div>
									</div>
								</div>	
								
								<!-- show only fields related to property commision sale -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.PROPERTY_SALE_COMM_MIN && ad.categoriesEntity.rgt <= categoryRange.PROPERTY_SALE_COMM_MAX">
									<div class="row">
										<div class="col-sm-5">
											{{'SIZE' | translate }} {{'SQUARE_METRE' | translate }}: <strong >
											{{ad.propertySize}} </strong>
										</div>
										<div class="col-sm-5">
											{{'LISTED_BY' | translate}}: <strong >
											{{constantOwnerType[ad.ownerType-1].name}}</strong>
										</div>			
									</div>
								</div>	
								<!-- show only fields related to property units sale -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.PROPERTY_SALE_UNITS_MIN && ad.categoriesEntity.rgt <= categoryRange.PROPERTY_SALE_UNITS_MAX">
									<div class="row">
										<div class="col-sm-5">
											{{'SIZE' | translate }} {{'SQUARE_METRE' | translate }}: <strong >
											{{ad.propertySize}} </strong>
										</div>
										<div class="col-sm-5">
											{{'LISTED_BY' | translate}}: <strong >
											{{constantOwnerType[ad.ownerType-1].name}}</strong>
										</div>			
									</div>
								</div>	
								<!-- show only fields related to property residential sale -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.PROPERTY_SALE_LAND_MIN && ad.categoriesEntity.rgt <= categoryRange.PROPERTY_SALE_LAND_MAX">
									<div class="row">
										<div class="col-sm-5">
										    {{'SIZE' | translate }} {{'SQUARE_METRE' | translate }}:<strong >
											{{ad.propertySize}} </strong>
										</div>
										<div class="col-sm-5">
											{{'LISTED_BY' | translate}}: <strong >
											{{constantOwnerType[ad.ownerType-1].name}}</strong>
										</div>			
									</div>
								</div>	
								
								<!-- show only fields related to property residential rent -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.PROPERTY_RENT_RES_MIN && ad.categoriesEntity.rgt <= categoryRange.PROPERTY_RENT_RES_MAX
									 ">
									<div class="row">
										<div class="col-sm-5">
											{{'SIZE' | translate }} {{'SQUARE_METRE' | translate }}: <strong >
											{{ad.propertySize}} </strong>
										</div>
										<div class="col-sm-5">
											{{'LISTED_BY' | translate}}: <strong >
											{{constantOwnerType[ad.ownerType-1].name}}</strong>
										</div>			
									</div>
									<div class="row">
										<div class="col-md-5">
											{{'ROOMS' | translate }}: <strong >
										 	{{constantNoBedrooms[ad.noBedrooms-1].name}}</strong>
										 </div>
										 <div class="col-md-5">
											{{'RENT_IS_PAID' | translate }}: <strong >
										 	{{constantRentTime[ad.rentTime-1].name}}</strong>
										 </div>
									</div>
								</div>	
								
								<!-- show only fields related to property RENT commercial -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.PROPERTY_RENT_COMM_MIN && ad.categoriesEntity.rgt <= categoryRange.PROPERTY_RENT_COMM_MAX">
									<div class="row">
										<div class="col-sm-5">
											{{'SIZE' | translate }} {{'SQUARE_METRE' | translate }}:<strong >
											{{ad.propertySize}} </strong>
										</div>
										<div class="col-sm-5">
											{{'LISTED_BY' | translate}}: <strong >
											{{constantOwnerType[ad.ownerType-1].name}}</strong>
										</div>			
									</div>
									<div class="row">
										<div class="col-md-5">
											{{'RENT_IS_PAID' | translate }}: <strong >
										 	{{constantRentTime[ad.rentTime-1].name}}</strong>
										 </div>
										 <div class="col-md-5">
											{{'FURNISHED' | translate }}: <strong >
										 	{{constantFurnished[ad.furnished-1].name}}</strong>
										 </div>
									</div>
								</div>	
								
								
								<!-- show only fields related to property RENT commercial -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.PROPERTY_RENT_ROOM_MIN && ad.categoriesEntity.rgt <= categoryRange.PROPERTY_RENT_ROOM_MAX">
									<div class="row">
										<div class="col-sm-5">
											{{'LISTED_BY' | translate}}: <strong >
											{{constantOwnerType[ad.ownerType-1].name}}</strong>
										</div>
										 <div class="col-md-5">
											{{'BATHROOMS' | translate }}: <strong >
										 	{{constantNoBathrooms[ad.noBathrooms-1].name}}</strong>
										 </div>			
									</div>
									<div class="row">
										<div class="col-md-5">
											{{'RENT_IS_PAID' | translate }}: <strong >
										 	{{constantRentTime[ad.rentTime-1].name}}</strong>
										 </div>
										 <div class="col-md-5">
											{{'FURNISHED' | translate }}: <strong >
										 	{{constantFurnished[ad.furnished-1].name}}</strong>
										 </div>
									</div>
								</div>	
								
								<!-- show only fields related to property residential rent short monthly -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.PROPERTY_RENT_SHORT_MONTHLY_MIN && 
										ad.categoriesEntity.rgt <= categoryRange.PROPERTY_RENT_SHORT_MONTHLY_MAX">
									<div class="row">
										<div class="col-sm-5">
											{{'SIZE' | translate }} {{'SQUARE_METRE' | translate }}: <strong >
											{{ad.propertySize}} </strong>
										</div>
										<div class="col-sm-5">
											{{'LISTED_BY' | translate}}: <strong >
											{{constantOwnerType[ad.ownerType-1].name}}</strong>
										</div>			
									</div>
									<div class="row">
										<div class="col-md-5">
											{{'ROOMS' | translate }}: <strong >
										 	{{constantNoBedrooms[ad.noBedrooms-1].name}}</strong>
										 </div>
										 <div class="col-md-5">
											{{'RENT_IS_PAID' | translate }}: <strong >
										 	{{constantRentTime[ad.rentTime-1].name}}</strong>
										 </div>
									</div>
								</div>	
								
								<!-- show only fields related to property residential rent short daily -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.PROPERTY_RENT_SHORT_DAILY_MIN && 
										ad.categoriesEntity.rgt <= categoryRange.PROPERTY_RENT_SHORT_DAILY_MAX">
									<div class="row">
										<div class="col-sm-5">
											{{'SIZE' | translate }} {{'SQUARE_METRE' | translate }}:<strong >
											{{ad.propertySize}} </strong>
										</div>
										<div class="col-sm-5">
											{{'LISTED_BY' | translate}}: <strong >
											{{constantOwnerType[ad.ownerType-1].name}}</strong>
										</div>			
									</div>
									<div class="row">
										<div class="col-md-5">
											{{'ROOMS' | translate }}: <strong >
										 	{{constantNoBedrooms[ad.noBedrooms-1].name}}</strong>
										 </div>
										 <div class="col-md-5">
											{{'RENT_IS_PAID' | translate }}: <strong >
										 	{{constantRentTime[ad.rentTime-1].name}}</strong>
										 </div>
									</div>
								</div>	
								
								<!-- show only fields related to classified baby items -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.CLASSIFIED_MIN && ad.categoriesEntity.rgt <= categoryRange.CLASSIFIED_MAX
									    && !(ad.categoriesEntity.lft >= categoryRange.CLASSIFIED_CAMERA_MIN && ad.categoriesEntity.rgt <= categoryRange.CLASSIFIED_CAMERA_MAX)
									    && !(ad.categoriesEntity.lft >= categoryRange.CLASSIFIED_COMPUTER_MIN && ad.categoriesEntity.rgt <= categoryRange.CLASSIFIED_COMPUTER_MAX)
									    && !(ad.categoriesEntity.lft >= categoryRange.CLASSIFIED_LOST_FOUND_MIN && ad.categoriesEntity.rgt <= categoryRange.CLASSIFIED_LOST_FOUND_MAX)
									    && !(ad.categoriesEntity.lft >= categoryRange.CLASSIFIED_BUSINESS_SALE_MIN && ad.categoriesEntity.rgt <= categoryRange.CLASSIFIED_BUSINESS_SALE_MAX)  
									    && !(ad.categoriesEntity.lft >= categoryRange.CLASSIFIED_PETS_MIN && ad.categoriesEntity.rgt <= categoryRange.CLASSIFIED_PETS_MAX)
									    && !(ad.categoriesEntity.lft >= categoryRange.CLASSIFIED_TICKETS_MIN && ad.categoriesEntity.rgt <= categoryRange.CLASSIFIED_TICKETS_MAX)								    
									    ">
									<div class="row">
										<div class="col-sm-10">
											{{'AGE' | translate}}: <strong >
											{{ageConstant[ad.ageItem-1].name}}</strong>
										</div>		
									</div>
									<div class="row">
										<div class="col-md-10">
											{{'CONDITION' | translate}}: <strong >
										 	{{constantCondition[ad.conditionItem-1].name}}</strong>
										 </div>
									</div>
								</div>
								
								<!-- show only fields related to classified camera -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.CLASSIFIED_CAMERA_MIN && ad.categoriesEntity.rgt <= categoryRange.CLASSIFIED_CAMERA_MAX">
									<div class="row">
										<div class="col-sm-5">
											{{'AGE' | translate}}: <strong >
											{{ageConstant[ad.ageItem-1].name}}</strong>
										</div>	
										<div class="col-md-5">
											{{'WARRANTY' | translate}}: <strong >
										 	{{warrantyConstant[ad.warrantyItem-1].name}}</strong>
										 </div>	
									</div>
									<div class="row">
										<div class="col-md-5">
											{{'CONDITION' | translate}}: <strong >
										 	{{constantCondition[ad.conditionItem-1].name}}</strong>
										 </div>
										
									</div>
								</div>			
								
								
								<!-- show only fields related to classified Ticket -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.CLASSIFIED_TICKETS_MIN && ad.categoriesEntity.rgt <= categoryRange.CLASSIFIED_TICKETS_MAX">
									<div class="row">
										<div class="col-sm-5">
											{{'NUMBER' | translate}}: <strong >
											{{constantNumberTickets [ad.numberOfTickets-1].name }}</strong>
										</div>		
									</div>
								</div>	
								
								<!-- show only fields related to classified computer -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.CLASSIFIED_COMPUTER_MIN && ad.categoriesEntity.rgt <= categoryRange.CLASSIFIED_COMPUTER_MAX">
									<div class="row">
										<div class="col-md-5">
											{{'AGE' | translate}}: <strong >
											{{ageConstant[ad.ageItem-1].name}}</strong>
										</div>					
										<div class="col-md-5">
											{{'CONDITION' | translate}}: <strong >
										 	{{constantCondition[ad.conditionItem-1].name}}</strong>
										 </div>				
									</div>
				
									<div class="row">
										<div class="col-md-5">
											{{'BRAND' | translate}}: <strong >
										 	{{constantComputerBrand[ad.brandItem-1].name}}</strong>
										 </div>
										 <div class="col-md-5">
											{{'HARD_DRIVE' | translate}}: <strong >
										 	{{constantComputerHardDrive[ad.hardDrive-1].name}}</strong>
										 </div>
									</div>
								</div>
								
								<!-- show only fields related to classified camera -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.JOB_MIN && ad.categoriesEntity.rgt <= categoryRange.JOB_MAX">
									<div class="row">
										<div class="col-sm-9">
										      <p dotdotdot ng-bind-html="ad.productDescription | trustAsHtml">
										        <a  class="readmore" href ng-click="forwardToDetailsPage(ad.productId, ad.categoriesEntity.categoryId, ad.categoriesEntity.lft, ad.categoriesEntity.rgt)" >Read more &raquo;</a>
										      </p>
										  
										 </div>	
										<div class="col-sm-3" ng-show="ad.logoPhoto.length > 0 ">
							           		<img class="logo-photo" 
							           		   ng-src="{{bucketName.productLogo + ad.productId + '/' + ad.logoPhoto}}"
							           		   ng-if="ad.logoPhoto.length > 0">
						           		</div>
									 </div>	
							    </div>	
								<!-- show only fields related to classified camera -->
								<div
									ng-show="ad.categoriesEntity.lft >= categoryRange.COMMUNITY_MIN && ad.categoriesEntity.rgt <= categoryRange.COMMUNITY_MAX">
									<div class="row">
										<div class="col-sm-10">
												{{ad.productTitle}}
										</div>		
									</div>
							</div>			
										
                              <!-- end of the whole div -->
							</div> 
						</div>
						<br />
						<div class="row">
							<div class="col-sm-8">
								<p class="muted">
									<i class="fa fa-map-marker"> </i> <strong> {{'LOCATION' | translate}}: </strong>
									{{ad.location.country}} , {{ad.location.region}} {{!ad.location.city ? '' : ', '}}
							        {{ad.location.city}}  {{!ad.location.route? '' : ', '}}
									{{ad.location.route}}
									
								</p>
							</div>
						</div>

					</div>
					<hr class="no-padding" />
				</div>
			</div>

			<div ng-show="ads.totalPages > 1">
				<div class="text-center">
					 <uib-pagination total-items="ads.totalElements" ng-model="currentPage" max-size="5" class="pagination" boundary-links="true" 
    					rotate="false" ng-change="getNextPageAds(ads.totalPages-1)">
    				 </uib-pagination>
				</div>
			</div>
		</div>
		
		<div class="col-md-9 listings" ng-show="ads.content.length==0">
			<div class="row">
				<div class="col-sm-12">

					<div>
						<div class="alert alert-info">
							<strong>{{'NO_RESULTS_FOUND' | translate}}</strong>
						</div>
					</div>
				</div>
			</div>
		</div>



	</div>
</div>