<div class="container">
    <br />
    <br />
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <br />
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="/">Home</a>
                </li>
                <li class="active">Reset password</li>
            </ol>
            <div class="row">
                <div class="col-sm-12 ">
                    <div>
                       
                        <!-- Tab panes -->
                        
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="panel panel-default">
                                           <div class="panel-heading">
											  <h3 class="panel-title">Reset Password</h3>
										    </div>
                                            <div class="well"
												style="margin-bottom: 0; border: 1px solid #e2e2e2; border-top: 0; border-radius: 0;">
                                                <div class="padnel-body">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div
																style="border-right: 1px solid #e2e2e2; padding-right: 30px; padding-left: 0px;">
                                                                <h2 style="margin-bottom: 5px;">Reset password?</h2>
                                                                <p>Use the form below to reset your password.</p>
                                                                <div class="{{styleMessage}}" ng-show="showMessage">
                                                              			  {{message}}
																</div>
																
															
                                                                <form role="form" name="resetPasswordForm"  data-ng-submit="resetPassword(resetPasswordForm.$valid) " novalidate>                                                                    
                                                                
                                                                   
                                                                   <div class="form-group has-feedback"  ng-class="{ 'has-error': resetPasswordForm.inputPassword.$touched && 
                                                                        resetPasswordForm.inputPassword.$invalid ||
																	 	resetPasswordForm.$submitted  && resetPasswordForm.inputPassword.$invalid ,
																	 	'has-success': !resetPasswordForm.inputPassword.$invalid}">
                                                                            <label for="inputPassword" class="control-label"> New Password</label>
                                                                            <input type="password"
																			name="inputPassword"
																			class="form-control" 
																			placeholder="New password"
																			ng-model="user.password"
																			ng-minlength="4"																		
																			required>
																			
																			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="resetPasswordForm.inputPassword.$touched && !resetPasswordForm.inputPassword.$invalid"></span>
																		    <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="resetPasswordForm.inputPassword.$touched && resetPasswordForm.inputPassword.$invalid"></span>
																		
																			
																			<div class="help-block with-errors" ng-messages="resetPasswordForm.inputPassword.$error" ng-show="resetPasswordForm.inputPassword.$touched || resetPasswordForm.$submitted">
    																			<div  ng-messages-include="messages.html" ></div>
																			</div>
                                                                    </div>
                                                                    
                                                                     <div class="form-group has-feedback"  ng-class="{ 'has-error': resetPasswordForm.inputConfirmPassword.$touched && 
                                                                         resetPasswordForm.inputConfirmPassword.$invalid || 
																	 	 resetPasswordForm.$submitted  && resetPasswordForm.inputConfirmPassword.$invalid,
																	 	 'has-success': !resetPasswordForm.inputConfirmPassword.$invalid}">
                                                                        <label for="inputConfirmPassword" class="control-label">Confirm password</label>
                                                                        <input type="password"
                                                                            name="inputConfirmPassword"
																			class="form-control " 
																			placeholder="Confirm password"
																			ng-model="user.confirmPassword"
																			ng-minlength="4"
																			compare-to="user.password" 
																			required>
																			
																		<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="resetPasswordForm.inputConfirmPassword.$touched && !resetPasswordForm.inputConfirmPassword.$invalid"></span>
																		<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="resetPasswordForm.inputConfirmPassword.$touched && resetPasswordForm.inputConfirmPassword.$invalid"></span>
																			
																		<div class="help-block with-errors" ng-messages="resetPasswordForm.inputConfirmPassword.$error" ng-show="resetPasswordForm.inputConfirmPassword.$touched || resetPasswordForm.$submitted">
    																		<div  ng-messages-include="messages.html" ></div>
																		</div> 		
																		 		
                                                                    </div>                                                                       
                                                                    <div class="row">
                                                                       
                                                                                    <div class="col-sm-12">
                                                                                        <button
																				class="btn btn-primary btn-block">RESET</button>
                                                                                    </div>
                                                                                </div>
                                                                                <br />
                                                                               
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <div style="padding-right: 20px; padding-left: 0px;">
                                                                            <h2 style="margin-bottom: 5px;">First time here?</h2>
                                                                            <p>Don't have an account? Register with Hashi.com
																	today to manage all your ads in one place, post ads
																	faster and view statistics about your ads.</p>
                                                                            <br />
                                                                            <div class="row">
                                                                                <div class="col-sm-5"></div>
                                                                                <div class="col-sm-7">
                                                                                    <a href="register"
																			class="btn btn-default btn-block">Create an
																			account</a>
                                                                                </div>
                                                                            </div>
                                                                            <br />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                               			  <br />
                           			  </div>
                        		   </div>
                        		<br />
                        	<br />
                    	</div>
                	</div>
            	</div>`		