<div class="container">
   <br/>
   <br/>
   
	<div class="row">
		<div class="row">
			<div class="col-md-5 col-md-offset-4">

				<div class="panel panel-default">

					<div class="panel-heading">
						<h3 class="panel-title">{{'RESET_PASSWORD' | translate}}</h3>
					</div>

					<div class="panel-body">
					    <strong class="text-success">{{'SUCCESS' | translate}}</strong>
					    
					    <p>
					    
					      {{'SUCCESS_RESET_PASSWORD' | translate}}
						
						<p> 

						<p>
						<a ui-sref="login" aria-controls="login">{{'RETURN_LOGIN_PAGE' | translate}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
