<div class="container">
   <br/>
   <br/>
   
	<div class="row">
		<div class="row">
			<div class="col-md-5 col-md-offset-4">

				<div class="panel panel-default">

					<div class="panel-heading">
						<h3 class="panel-title">Xaashi.com is a free website</h3>
					</div>

					<div class="panel-body">
					    <strong class="text-success">Success!</strong>
					    
					    <p>
					    
					      Your password has been reset successfully!
						
						<p> 

						<p>
						<a ui-sref="login" aria-controls="login">Return to login page</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
