<div class="container">
   <br/>
   <br/>
   
	<div class="row">
		<div class="row">
			<div class="col-md-5 col-md-offset-4">

				<div class="panel panel-default">

					<div class="panel-heading">
						<h3 class="panel-title">Nearly a million members and growing</h3>
					</div>

					<div class="panel-body" >
					    <strong class="text-success">Success!</strong>
					    
						Please click <a ui-sref="account_profile">here</a> to view your profile. </br>    	 
				
						<a ui-sref="/" aria-controls="home">Return to home page</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>