<div class="container">
   <br/>
   <br/>
   
	<div class="row">
		<div class="row">
			<div class="col-md-5 col-md-offset-4">

				<div class="panel panel-default">

					<div class="panel-heading">
						<h3 class="panel-title">Nearly a million members and growing</h3>
					</div>

					<div class="panel-body">
					    <strong class="text-success">Success!</strong>
					    
					    <p>
					    
					    We have sent you an email containing
						a link that will allow you to reset your password for the next 24
						hours. 
						
						<p> 
						</p>
						<h3> No email after 15 minutes ? </h3>
						 
						<p>
						<p>
						
						Please check your spam folder for an email from admin@xaashi.com.
						
						<p/>
							Still no email? Contact support 
						<a href="mailto:xaashi-support@xaashi.com?Subject=Reset Password" target="_top">
							xaashi-support@xaashi.com
						</a>
						<p>
						<p>
						<p>
						<a ui-sref="login" aria-controls="home">Return to login page</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
