<div class="container">
   <br/>
   <br/>
   
	<div class="row">
		<div class="row">
			<div class="col-md-5 col-md-offset-4">

				<div class="panel panel-default">

					<div class="panel-heading">
						<h2 class="panel-title">{{'SUCCESS_REGISTRATION_TITLE' |  translate}}</h2>
					</div>

					<div class="panel-body" >
						 <h3>  {{'SUCCESS_REGISTRATION_DESC' | translate}}	</h3> 				 	
					 	 <p> 
					 	 
					 	 </p>
						  {{'NO_EMAIL_AFTER_15' | translate}} 
						  <br/>
							{{'CHECK_SPAM_FOLDER' | translate}}
						  <br/>
							{{'STILL_NO_EMAIL' | translate}}
							<a href="mailto:admin@maaliz.com?Subject=Reset Password" target="_top">admin@maaliz.com</a>
						 <p>
						<p>
									
					</div>
				</div>
			</div>
		</div>
	</div>
</div>