<div class="container">
   <br/>
   <br/>
   
	<div class="row">
		<div class="row">
			<div class="col-md-5 col-md-offset-4">

				<div class="panel panel-default">

					<div class="panel-heading">
						<h2 class="panel-title">{{'FORGOT_PASSWORD' | translate}}</h2>
					</div>

					<div class="panel-body">
					    <strong class="text-success">{{'SUCCESS' | translate}}</strong>
					    
					    <p>
					   		{{'SUCCESS_FORGOT_PASSWORD_DESCR' | translate}}
						<p> 
						</p>
					    	{{'NO_EMAIL_AFTER_15' | translate}}
						<br/>
							{{'CHECK_SPAM_FOLDER' | translate}}
						<br/>
							{{'STILL_NO_EMAIL' | translate}}
						<a href="mailto:admin@maaliz.com?Subject=Reset Password" target="_top">
							admin@maaliz.com
						</a>
						<br/>
						<a ui-sref="login" aria-controls="home">{{'RETURN_LOGIN_PAGE' | translate}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
