<div class="container">
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
    <div class="row">


        <div class="col-md-6 col-md-offset-3">


            <h1 class="text-center">{{'CONGRATULATION' | translate}}</h1><br />

            <!-- Headings & Paragraph Copy -->
            <div class="row">

                <div class="col-md-12">
                    <p>
                     {{'CONGRATULATION_DESC' | translate}}
                    </p>
                    
                </div>
				
                <div class="col-md-8 col-md-offset-2">
					<br />
					<br />
					 <div class="row">
						  <div class="col-md-12">
						   	<a  class="btn btn-primary btn-large btn-block"  href ng-click="forwardToDetailsPage(productId, categoryId, categoryLft, categoryRgt)" >
								{{'CHECK_IT_LIVE' | translate }}
							</a>
						</div>
					</div>
					<br />
					 <div class="row">
						  <div class="col-md-6">
							<a  ui-sref="post_ad"  class="btn btn-default btn-large btn-block">
							{{'POST_ANOTHER_AD' | translate}}
							 </a>
						</div>
						  <div class="col-md-6">
							<a  class="btn btn-default btn-large btn-block"  href ng-click="forwardToPostAdNext(productId, categoryId, categoryLft, categoryRgt)" >
								{{'EDIT_YOUR_AD' | translate}}
							</a>
						</div>
					</div>
                </div>


                <!-- Misc Elements -->

            </div><!-- /row -->

        </div>

    </div>
		<br />
	<br />
	<br />
	<br />
	<br />		<br />
	<br />
	<br />
	<br />
	<br />
</div>

