<div class="container">
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
    <div class="row">


        <div class="col-md-6 col-md-offset-3">


            <h1 class="text-center">Congratulations</h1><br />

            <!-- Headings & Paragraph Copy -->
            <div class="row">

                <div class="col-md-12">
                    <p>
                       Your ad is live and will be viewed by millions. Thanks for posting your ad on Xaashi.com
                    </p>
                    
                </div>
				
                <div class="col-md-8 col-md-offset-2">
					<br />
					<br />
					 <div class="row">
						  <div class="col-md-12">
						   	<a  class="btn btn-primary btn-large btn-block"  href ng-click="forwardToDetailsPage(productId, categoryId, categoryLft, categoryRgt)" >
								Check it Live
							</a>
						</div>
					</div>
					<br />
					 <div class="row">
						  <div class="col-md-6">
							<a  ui-sref="post_ad"  class="btn btn-default btn-large btn-block">
							 Post another ad
							 </a>
						</div>
						  <div class="col-md-6">
							<a  class="btn btn-default btn-large btn-block"  href ng-click="forwardToPostAdNext(productId, categoryId, categoryLft, categoryRgt)" >
								Edit your ad
							</a>
						</div>
					</div>
                </div>


                <!-- Misc Elements -->

            </div><!-- /row -->

        </div>

    </div>
		<br />
	<br />
	<br />
	<br />
	<br />		<br />
	<br />
	<br />
	<br />
	<br />
</div>

